# **Introduction to Financial Python**

## **Data Types and Data Structures (Tutorial #1)**

**1. Basic Variable Types**

The basic types of variables in Python are: strings, integers, floating point numbers and booleans.

Strings in python are identified as a contiguous set of characters represented in either single quotes (' ') or double quotes (" ").

In [ ]:
my_string1 = 'Welcome to'
my_string2 = "QuantConnect"
print(my_string1 + ' ' + my_string2)

Welcome to QuantConnect

**My code:**

In [ ]:
string1 = 'Welcome to'
string2 = "My first code"
print(string1 + ' ' + string2)

Welcome to My first code

**2.** An integer is a round number with no values after the decimal point

In [ ]:
my_int = 10
print(my_int)
print(type(my_int))

10
<class 'int'>

**My code:**

In [ ]:
integer = 777
print(integer)
print(type(integer))

777
<class 'int'>

**3.** The built-in function int() can convert a string into an integer

In [ ]:
my_string = "100"
print(type(my_string))
my_int = int(my_string)
print(type(my_int))

<class 'str'>
<class 'int'>

**My code:**

In [ ]:
string = "777"
print(type(string))
integer = int(integer)
print(type(integer))

<class 'str'>
<class 'int'>

**4.** A floating point number, or a float, is a real number in mathematics. In Python we need to include a value after a decimal point to define it as a float

In [ ]:
my_float = 1.0
print(type(my_float))
my_int = 1
print(type(my_int))

<class 'float'>
<class 'int'>

**My code:**

In [ ]:
floating = 434.7
print(type(floating))
integer = 209
print(type(integer))

<class 'float'>
<class 'int'>

**5.** As you can see above, if we don't include a decimal value, the variable would be defined as an integer. The built-in function float() can convert a string or an integer into a float

In [ ]:
my_string = "100"
my_float = float(my_string)
print(type(my_float))

<class 'float'>

**My code:**

In [ ]:
string = "434.7"
float1 = float(string)
print(type(float1))

<class 'float'>

**6.** A boolean, or bool, is a binary variable. Its value can only be True or False. It is useful when we do some logic operations, which would be covered in our next chapter

In [ ]:
my_bool = False
print(my_bool)
print(type(my_bool))

False
<class 'bool'>

**My code:**

In [ ]:
boolean = False
print(boolean)
print(type(boolean))

False
<class 'bool'>

**7. Basic Math Operations**

The basic math operators in python are demonstrated below:

In [ ]:
print("Addition ", 1+1)
print("Subtraction ", 5-2)
print("Multiplication ", 2*3)
print("Division", 10/2)
print("exponent", 2**3)

Addition  2
Subtraction  3
Multiplication  6
Division 5.0
exponent 8

**My code:**

In [ ]:
print("Addition ", 100+1)
print("Subtraction ", 5-245)
print("Multiplication ", 2*300)
print("Division", 500/2)
print("exponent", 2**8)

Addition  101
Subtraction  -240
Multiplication  600
Division 250.0
exponent 256

**8. Data Collections**

**List**

A list is an ordered collection of values. A list is mutable, which means you can change a list's value without changing the list itself. Creating a list is simply putting different comma-separated values between square brackets.

In [ ]:
my_list = ['Quant', 'Connect', 1,2,3]
print(my_list)

['Quant', 'Connect', 1, 2, 3]

**My code:**

In [ ]:
list1 = ['Algorithms', 'UNAL', 1,2,3]
print(list1)

['Algorithms', 'UNAL', 1, 2, 3]

**9.** The values in a list are called "elements". We can access list elements by indexing. Python index starts from 0. So if you have a list of length n, the index of the first element will be 0, and that of the last element will be n − 1. By the way, the length of a list can be obtained by the built-in function len().

In [ ]:
my_list = ['Quant', 'Connect', 1,2,3]
print(len(my_list))
print(my_list[0])
print(my_list[len(my_list) - 1])

5
Quant
3

**My code:**

In [ ]:
list1 = ['Algorithms', 'UNAL', 1,2,3]
print(len(list1))
print(list1[0])
print(list1[len(list1) - 1])

5
Algorithms
3

**10.** You can also change the elements in the list by accessing an index and assigning a new value.

In [ ]:
my_list = ['Quant','Connect',1,2,3]
my_list[2] = 'go'
print(my_list)

['Quant', 'Connect', 'go', 2, 3]

**My code:**

In [ ]:
list1 = ['Alhorithms','UNAL',1,2,3]
list1[2] = 'Bogota'
print(list1)

['Alhorithms', 'UNAL', 'Bogota', 2, 3]

**11.** A list can also be sliced with a colon:

In [ ]:
my_list = ['Quant','Connect',1,2,3]
print(my_list[1:3])

['Connect', 1]

**My code:**

In [ ]:
list1 = ['Algorithms','UNAL',1,2,3]
print(list1[1:4])

['UNAL', 1, 2]

**12.** The slice starts from the first element indicated, but excludes the last element indicated. Here we select all elements starting from index 1, which refers to the second element:

In [ ]:
print(my_list[1:])

['Connect', 1, 2, 3]

**My code (The slice starts form the second element):**

In [ ]:
print(list1[2:])

[1, 2, 3]

**13.** And all elements up to but excluding index 3:

In [ ]:
print(my_list[:3])

['Quant', 'Connect', 1]

**My code (And all elements up to but excluding index 4:):**

In [ ]:
print(list1[:4])

['Algorithms', 'UNAL', 1, 2]

**14.** If you wish to add or remove an element from a list, you can use the append() and remove() methods for lists as follows:

In [ ]:
my_list = ['Hello', 'Quant']
my_list.append('Hello')
print(my_list)
my_list.remove('Hello')
print(my_list)

['Hello', 'Quant', 'Hello']
['Quant', 'Hello']

**My code:**

In [ ]:
list1 = ['Algorithms', 'UNAL']
list1.append('Algorithms')
print(list1)
list1.remove('Algorithms')
print(list1)

['Algorithms', 'UNAL', 'Algorithms']
['UNAL', 'Algorithms']

**15. Tuple**

A tuple is a data structure type similar to a list. The difference is that a tuple is immutable, which means you can't change the elements in it once it's defined. We create a tuple by putting comma-separated values between parentheses.

In [195]:
my_tuple = ('Welcome','to','QuantConnect')

**My code:**

In [ ]:
tuple1 = ('Welcome','to','UNAL')

**16.** Just like a list, a tuple can be sliced by using index.

In [ ]:
my_tuple = ('Welcome','to','QuantConnect')
print(my_tuple[1:])

('to', 'QuantConnect')

**My code:**

In [ ]:
tuple1 = ('Welcome','to','UNAL')
print(tuple1[1:])

('to', 'UNAL')

**17.** **Set**

A set is an unordered collection with no duplicate elements. The built-in function set() can be used to create sets.

In [ ]:
stock_list = ['AAPL','GOOG','IBM','AAPL','IBM','FB','F','GOOG']
stock_set = set(stock_list)
print(stock_set)

{'F', 'AAPL', 'GOOG', 'IBM', 'FB'}

**My code:**

In [ ]:
listin = ['UNAL','DISTRITAL','PEDAGOGICA','UIS','UNAL','UNAL','UIS','UNAL']
setin = set(listin)
print(setin)

{'DISTRITAL', 'UNAL', 'PEDAGOGICA', 'UIS'}

**18. Dictionary**

A dictionary is one of the most important data structures in Python. Unlike sequences which are indexed by integers, dictionaries are indexed by keys which can be either strings or floats.

A dictionary is an unordered collection of key : value pairs, with the requirement that the keys are unique. We create a dictionary by placing a comma-separated list of key : value pairs within the braces.

In [ ]:
my_dic = {'AAPL': 'Apple', 'FB': 'FaceBook', 'GOOG': 'Alphabet'}

**My code:**

In [ ]:
dic1 = {'UNAL': 'Universidad Nacional', 'DISTRITAL': 'Universidad Distrital', 'PEDAGOGICA': 'Universidad Pedagogica'}

**19.** After defining a dictionary, we can access any value by indicating its key in brackets.

In [ ]:
print(my_dic['GOOG'])

Alphabet

**My code:**

In [ ]:
print(dic1['UNAL'])

Universidad Nacional

**20.** We can also change the value associated with a specified key:

In [ ]:
my_dic['GOOG'] = 'Alphabet Company'
print(my_dic['GOOG'])

Alphabet Company

**My code:**

In [ ]:
dic1['UNAL'] = 'Universidad Nacional Abierta y a Distancia'
print(dic1['UNAL'])

Universidad Nacional Abierta y a Distancia

**21.** The built-in method of the dictionary object dict.keys() returns a list of all the keys used in the dictionary.

In [ ]:
print(my_dic.keys())

dict_keys(['AAPL', 'FB', 'GOOG'])

**My code:**

In [ ]:
print(dic1.keys())

dict_keys(['UNAL', 'DISTRITAL', 'PEDAGOGICA'])

**22.** **Common String Operations**

A string is an immutable sequence of characters. It can be sliced by index just like a tuple:

In [ ]:
my_str = 'Welcome to QuantConnect'
print(my_str[8:])

to QuantConnect

**My code:**

In [ ]:
string1 = 'Welcome to UNAL'
print(string1[10:])

 UNAL

**23.** There are many methods associated with strings. We can use string.count() to count the occurrences of a character in a string, use string.find() to return the index of a specific character, and use string.replace() to replace characters.

In [ ]:
print("Counting the number of e's in this sentence".count('e'))
print('The first time e appears in this sentence'.find('e'))
print('all the a in this sentence now becomes e'.replace('a','e'))

6
2
ell the e in this sentence now becomes e

**My code:**

In [ ]:
print("Counting the number of u's in this sentence".count('u'))
print('The first time p appears in this sentence'.find('n'))
print('all the a in this sentence now becomes e'.replace('a','x'))

3
26
xll the x in this sentence now becomes e

**24.** The most commonly used method for strings is string.split(). This method will split the string by the indicated character and return a list:

In [ ]:
Time = '2016-04-01 09:43:00'
splited_list = Time.split(' ')
date = splited_list[0]
time = splited_list[1]
print(date, time)
hour = time.split(':')[0]
print(hour)

2016-04-01 09:43:00
09

**My code:**

In [ ]:
Time = '2021-10-17 22:26:00'
splited_list = Time.split(' ')
date = splited_list[0]
time = splited_list[1]
print(date, time)
hour = time.split(':')[0]
print(hour)

2021-10-17 22:26:00
22

**25.** We can replace parts of a string by our variable. This is called string formatting.

In [ ]:
my_time = 'Hour: {}, Minute: {}'.format(9, 43)
print(my_time)

Hour: 9, Minute: 43

**My code:**

In [ ]:
time1 = 'Hour: {}, Minute: {}'.format(22, 26)
print(time1)

Hour: 22, Minute: 26

**26.** Another way to format a string is to use the % symbol.

In [ ]:
print ('pi is %f' % 3.14)
print('%s to %s' % ('Welcome', 'QuantConnect'))

pi is 3.140000
Welcome to QuantConnect

**My code:**

In [ ]:
print ('pi is %f' % 3.1415926535)
print('%s to %s' % ('Welcome', 'UNAL'))

pi is 3.141593
Welcome to UNAL

## **Logical Operations and Loops (Tutorial #2)**

**Introduction**

We discussed the basic data types and data structures in Python in the last tutorial. This chapter covers logical operations and loops in Python, which are very common in programming.

**1. Logical Operations**

Like most programming languages, Python has comparison operators:

In [2]:
print (1 == 0)    # 1 equals 0
print (1 == 1)    # 1 equals 1
print (1 != 0)    # 1 is not equal to 0
print (5 >= 5)    # 5 is greater than or equal to 5
print (5 >= 6)    # 5 is greater than or equal to 6

False
True
True
True
False

**My code:**

In [3]:
print (10 == 0)    # 10 equals 0
print (10 == 10)    # 10 equals 10
print (10 != 0)    # 10 is not equal to 0
print (13 >= 5)    # 13 is greater than or equal to 5
print (-5 >= 6)    # -5 is greater than or equal to 6

False
True
True
True
False

**2.** Each statement above has a boolean value, which must be either True or False, but not both.

We can combine simple statements P and Q to form complex statements using logical operators:

* The statement "P and Q" is true if both P and Q are true, otherwise it is false.
* The statement "P or Q" is false if both P and Q are false, otherwise it is true.
* The statement "not P" is true if P is false, and vice versa.

In [5]:
print (2 > 1 and 3 > 2)
print (2 > 1 and 3 < 2)
print (2 > 1 or  3 < 2)
print (2 < 1 and 3 < 2)

True
False
True
False

**My code:**

In [8]:
print (19 > 14 and 384 > 209)
print (-1 > -2 and -1 < -2)
print (-1 > -2 or  -1 < -2)
print (-1 < -127 and -1 < -2021)

True
False
True
False

**3.** When dealing with a very complex logical statement that involves in several statements, we can use brackets to separate and combine them.

In [14]:
print ((3 > 2 or 1 < 3) and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))
print (3 > 2 or 1 < 3 and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))

False
True

**My code:**

In [17]:
print ((343 > 538 or -1 < 30) and (-1!=3 and 448>3) and not ( 378 < -2 or 1 < -3 and (-1!=36 and 476>3)))
print (746 > -2 or -1 < 3 and (-1!=3 and 445>-3) and not ( 3 < -2 or 1 < -3 and (138!=356 and 434>33)))

True
True

**4. If Statement**

An if statement executes a segment of code only if its condition is true. A standard if statement consists of 3 segments: if, elif and else.

if condition1:
    # if condition1 is true, execute the code here
    # and ignore the rest of this if statement
elif condition2:
    # if condition1 is false, and condition2 is true, execute the code here
    # and ignore the rest of this if statement
else:
    # if none of the above conditions is True, execute the code here

An if statement doesn't necessarily has elif and else part. If it's not specified, the indented block of code will be executed when the condition is true, otherwise the whole if statement will be skipped.

In [19]:
i = 0
if i == 0: print ('i == 0 is True')

i == 0 is True

**My code:**

In [22]:
variable = 777
if variable == 777: print ('variable == 777 is True')

variable == 777 is True

**5.** As we mentioned above, we can write some complex statements here:

In [24]:
p = 1 > 0
q = 2 > 3
if p and q:
    print ('p and q is true')
elif p and not q:
    print ('q is false')
elif q and not p:
    print ('p is false')
else:
    print ('None of p and q is true')

q is false

**My code:**

In [25]:
x = 1 > 0
y = !(2 > 3)
if x and y:
    print ('x and y is true')
elif x and not y:
    print ('y is false')
elif x and not y:
    print ('x is false')
else:
    print ('None of x and y is true')

x and y is true

**6. Loop Structure**

Loops are an essential part of programming. The "for" and "while" loops run a block of code repeatedly.

**While Loop**

A "while" loop will run repeatedly until a certain condition has been met.

In [27]:
i = 0
while i < 5:
    print (i)
    i += 1

0
1
2
3
4

**My code:**

In [28]:
x = 0
while x < 30:
    print (x)
    x += 1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29

**7. For Loop**

A "for" loop will iterate over a sequence of value and terminate when the sequence has ended.

In [29]:
for x in [1,2,3,4,5]: print (x)

1
2
3
4
5

**My code:**

In [30]:
for x in [-5,-4,-3,-2,-1]: print (x)

-5
-4
-3
-2
-1

**8.** We can also add if statements in a for loop. Here is a real example from our pairs trading algorithm:

In [31]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = []
for stock in stocks:
    if stock not in selected:
        new_list.append(stock)
print (new_list)

['GOOG', 'FB', 'F', 'V', 'G', 'GE']

**My code:**

In [32]:
stocks = ['UNAL','DISTRITAL','PEDAGOGICA','UIS','BOGOTA','UNIVALLE', 'MANIZALES', 'UDEA']
selected = ['UDEA','UIS']
new_list = []
for stock in stocks:
    if stock not in selected:
        new_list.append(stock)
print (new_list)

['UNAL', 'DISTRITAL', 'PEDAGOGICA', 'BOGOTA', 'UNIVALLE', 'MANIZALES']

**9. Break and continue**

These are two commonly used commands in a for loop. If "break" is triggered while a loop is executing, the loop will terminate immediately:

In [36]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for stock in stocks:
    print (stock)
    if stock == 'FB': break

AAPL
GOOG
IBM
FB

**My code:**

In [37]:
stocks = ['UNAL','DISTRITAL','PEDAGOGICA','UIS','BOGOTA','UNIVALLE', 'MANIZALES', 'UDEA']
for stock in stocks:
    print (stock)
    if stock == 'UIS': break

UNAL
DISTRITAL
PEDAGOGICA
UIS

**10.** The "continue" command tells the loop to end this iteration and skip to the next iteration:

In [38]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for stock in stocks:
    if stock == 'FB': continue
    print (stock)

AAPL
GOOG
IBM
F
V
G
GE

**My code:**

In [39]:
stocks = ['UNAL','DISTRITAL','PEDAGOGICA','UIS','BOGOTA','UNIVALLE', 'MANIZALES', 'UDEA']
for stock in stocks:
    if stock == 'UNIVALLE': continue
    print (stock)

UNAL
DISTRITAL
PEDAGOGICA
UIS
BOGOTA
MANIZALES
UDEA

**11. List Comprehension**

List comprehension is a Pythonic way to create lists. Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence. For example, if we want to create a list of squares using for loop:

In [41]:
squares = []
for i in [1,2,3,4,5]:
    squares.append(i**2)
print (squares)

[1, 4, 9, 16, 25]

**My code:**

In [40]:
squares = []
for i in [1,2,3,4,5]:
    squares.append(i**10)
print (squares)

[1, 1024, 59049, 1048576, 9765625]

**12.** Using list comprehension:

In [43]:
foo = [1,2,3,4,5]
squares = [x**2 for x in foo]
print (squares)

[1, 4, 9, 16, 25]

**My code:**

In [44]:
foo = [1,2,3,4,5]
squares = [x**10 for x in foo]
print (squares)

[1, 1024, 59049, 1048576, 9765625]

**13.** Recall the example above where we used a for loop to select stocks. Here we use list comprehension:

In [45]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = [x for x in stocks if x not in selected]
print (new_list)

['GOOG', 'FB', 'F', 'V', 'G', 'GE']

**My code:**

In [46]:
stocks = ['UNAL','DISTRITAL','PEDAGOGICA','UIS','BOGOTA','UNIVALLE', 'MANIZALES', 'UDEA']
selected = ['UDEA','UIS']
new_list = [x for x in stocks if x not in selected]
print (new_list)

['UNAL', 'DISTRITAL', 'PEDAGOGICA', 'BOGOTA', 'UNIVALLE', 'MANIZALES']

**14.** A list comprehension consists of square brackets containing an expression followed by a "for" clause, and possibly "for" or "if" clauses. For example:

In [48]:
print ([(x, y) for x in [1,2,3] for y in [3,1,4] if x != y])
print ([str(x) + ' vs ' + str(y) for x in ['AAPL','GOOG','IBM','FB'] for y in ['F','V','G','GE'] if x != y])

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]
['AAPL vs F', 'AAPL vs V', 'AAPL vs G', 'AAPL vs GE', 'GOOG vs F', 'GOOG vs V', 'GOOG vs G', 'GOOG vs GE', 'IBM vs F', 'IBM vs V', 'IBM vs G', 'IBM vs GE', 'FB vs F', 'FB vs V', 'FB vs G', 'FB vs GE']

**My code:**

In [50]:
print ([(x, y) for x in [-1,-2,-3] for y in [3,1,4] if x != y])
print ([str(x) + ' vs ' + str(y) for x in ['UNAL','UNAM','UIS','UDEA'] for y in ['DISTRITAL','UNAM','UDEA','UIS'] if x != y])

[(-1, 3), (-1, 1), (-1, 4), (-2, 3), (-2, 1), (-2, 4), (-3, 3), (-3, 1), (-3, 4)]
['UNAL vs DISTRITAL', 'UNAL vs UNAM', 'UNAL vs UDEA', 'UNAL vs UIS', 'UNAM vs DISTRITAL', 'UNAM vs UDEA', 'UNAM vs UIS', 'UIS vs DISTRITAL', 'UIS vs UNAM', 'UIS vs UDEA', 'UDEA vs DISTRITAL', 'UDEA vs UNAM', 'UDEA vs UIS']

## **Functions and Objective-Oriented Programming (Tutorial #3)**

**Introduction**

In the last tutorial we introduced logical operations, loops and list comprehension. We will introduce functions and object-oriented programming in this chapter, which will enable us to build complex algorithms in more flexible ways.

**1. Functions**

A function is a reusable block of code. We can use a function to output a value, or do anything else we want. We can easily define our own function by using the keyword "def".

In [52]:
def product(x,y):
    return x*y
print (product(2,3))
print (product(5,10))

6
50

**My code:**

In [53]:
def sum1(x,y):
    return x+y
print (product(2,3))
print (product(5,10))

6
50

**2.** The keyword "def" is followed by the function name and the parenthesized list of formal parameters. The statements that form the body of the function start at the next line, and must be indented. The product() function above has "x" and "y" as its parameters. A function doesn't necessarily have parameters

In [55]:
def say_hi():
    print ("Welcome to QuantConnect")
say_hi()

Welcome to QuantConnect

**My code:**

In [56]:
def say_hi():
    print ("Welcome to Algorithms")
say_hi()

Welcome to Algorithms

**3. Built-in Function**

range() is a function that creates a list containing an arithmetic sequence. It's often used in for loops. The arguments must be integers. If the "step" argument is omitted, it defaults to 1.

In [70]:
print(range(10))
print(range(1, 11))
print(range(1, 11, 2))

range(0, 10)
range(1, 11)
range(1, 11, 2)

**My code:**

In [71]:
print(range(100))
print(range(1, 211))
print(range(1, 211, 3))

range(0, 100)
range(1, 211)
range(1, 211, 3)

**4.** len() is another function used together with range() to create a for loop. This function returns the length of an object. The argument must be a sequence or a collection.

In [73]:
tickers = ['AAPL', 'GOOGL', 'IBM', 'FB', 'F', 'V', 'G', 'GE']
print ("The number of tickers is {}".format(len(tickers)))
for k in range(len(tickers)):
    print (k + 1, tickers[k])

The number of tickers is 8
1 AAPL
2 GOOGL
3 IBM
4 FB
5 F
6 V
7 G
8 GE

**My code:**

In [74]:
tickers = ['UNAL','DISTRITAL','PEDAGOGICA','UIS','BOGOTA','UNIVALLE', 'MANIZALES', 'UDEA']
print ("The number of tickers is {}".format(len(tickers)))
for k in range(len(tickers)):
    print (k + 1, tickers[k])

The number of tickers is 8
1 UNAL
2 DISTRITAL
3 PEDAGOGICA
4 UIS
5 BOGOTA
6 UNIVALLE
7 MANIZALES
8 UDEA

**5.** map() is a function that applies a specific function to every item of a sequence or collection, and returns a list of the results.

In [75]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print(list(map(len,tickers)))

[4, 4, 3, 2, 1, 1, 1, 2]

**My code:**

In [76]:
tickers = ['UNAL','DISTRITAL','PEDAGOGICA','UIS','BOGOTA','UNIVALLE', 'MANIZALES', 'UDEA']
print(list(map(len,tickers)))

[4, 9, 10, 3, 6, 8, 9, 4]

**6.** The lambda operator is a way to create small anonymous functions. These functions are just needed where they have been created. For example:

In [79]:
print(list(map(lambda x: x**2, range(10))))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

**My code:**

In [81]:
print(list(map(lambda x: x**-1, range(1,10))))

[1.0, 0.5, 0.3333333333333333, 0.25, 0.2, 0.16666666666666666, 0.14285714285714285, 0.125, 0.1111111111111111]

**7.** map() can be applied to more than one list. The lists have to have the same length.

In [83]:
print(list(map(lambda x, y: x+y, [1,2,3,4,5], [5,4,3,2,1])))

[6, 6, 6, 6, 6]

**My code:**

In [85]:
print(list(map(lambda x, y: x+y, [1,-16,-7,4,5], [-5,-4,-3,-2,-1])))

[-4, -20, -10, 2, 4]

**8.** sorted() takes a list or set and returns a new sorted list:

In [86]:
sorted([5,2,3,4,1])

[1, 2, 3, 4, 5]

**My code:**

In [87]:
sorted([-5,-2,-3,4,-1])

[-5, -3, -2, -1, 4]

**9.** We can add a "key" parameter to specify a function to be called on each list element prior to making comparisons. For example:

In [88]:
price_list = [('AAPL', 144.09), ('GOOGL', 911.71), ('MSFT', 69), ('FB', 150), ('WMT', 75.32)]
sorted(price_list, key = lambda x: x[1])

[('MSFT', 69),
 ('WMT', 75.32),
 ('AAPL', 144.09),
 ('FB', 150),
 ('GOOGL', 911.71)]

**My code:**

In [89]:
price_list = [('UNAL', 144.09), ('DISTRITAL', 911.71), ('PEDAGOGICA', 69), ('UNIVALLE', 150), ('UIS', 75.32)]
sorted(price_list, key = lambda x: x[1])

[('PEDAGOGICA', 69),
 ('UIS', 75.32),
 ('UNAL', 144.09),
 ('UNIVALLE', 150),
 ('DISTRITAL', 911.71)]

**10.** By default the values are sorted by ascending order. We can change it to descending by adding an optional parameter "reverse'.

In [90]:
price_list = [('AAPL', 144.09), ('GOOGL', 911.71), ('MSFT', 69), ('FB', 150), ('WMT', 75.32)]
sorted(price_list, key = lambda x: x[1], reverse = True)

[('GOOGL', 911.71),
 ('FB', 150),
 ('AAPL', 144.09),
 ('WMT', 75.32),
 ('MSFT', 69)]

**My code:**

In [91]:
price_list = [('UNAL', 144.09), ('DISTRITAL', 911.71), ('PEDAGOGICA', 69), ('UNIVALLE', 150), ('UIS', 75.32)]
sorted(price_list, key = lambda x: x[1], reverse = True)

[('DISTRITAL', 911.71),
 ('UNIVALLE', 150),
 ('UNAL', 144.09),
 ('UIS', 75.32),
 ('PEDAGOGICA', 69)]

**11.** Lists also have a function list.sort(). This function takes the same "key" and "reverse" arguments as sorted(), but it doesn't return a new list.

In [92]:
price_list = [('AAPL', 144.09), ('GOOGL', 911.71), ('MSFT', 69), ('FB', 150), ('WMT', 75.32)]
price_list.sort(key = lambda x: x[1])
print (price_list)

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOGL', 911.71)]

**My code:**

In [93]:
price_list = [('UNAL', 144.09), ('DISTRITAL', 911.71), ('PEDAGOGICA', 69), ('UNIVALLE', 150), ('UIS', 75.32)]
price_list.sort(key = lambda x: x[1])
print (price_list)

[('PEDAGOGICA', 69), ('UIS', 75.32), ('UNAL', 144.09), ('UNIVALLE', 150), ('DISTRITAL', 911.71)]

**12. Object-Oriented Programming**

Python is an object-oriented programming language. It's important to understand the concept of "objects" because almost every kind of data from QuantConnect API is an object.

**Class**

A class is a type of data, just like a string, float, or list. When we create an object of that data type, we call it an instance of a class.

In Python, everything is an object - everything is an instance of some class. The data stored inside an object are called attributes, and the functions which are associated with the object are called methods.

For example, as mentioned above, a list is an object of the "list" class, and it has a method list.sort().

We can create our own objects by defining a class. We would do this when it's helpful to group certain functions together. For example, we define a class named "Stock" here:

In [95]:
class Stock:
    def __init__(self, ticker, open, close, volume):
        self.ticker = ticker
        self.open = open
        self.close = close
        self.volume = volume
        self.rate_return = float(close)/open - 1

    def update(self, open, close):
        self.open = open
        self.close = close
        self.rate_return = float(self.close)/self.open - 1

    def print_return(self):
        print (self.rate_return)

**My code:**

In [112]:
class Stock1:
    def __init__(self, var1, var2, var3, var4):
        self.var1 = var1
        self.var2 = var2
        self.var3 = var3
        self.var4 = var4
        self.rate_return = float(var3)/var2 - 1

    def method1(self, var2, var3):
        self.var2 = var2
        self.var3 = var3
        self.rate_return = float(self.var3)/self.var2 - 1

    def print_return(self):
        print (self.rate_return)

**13.** The "Stock" class has attributes "ticker", "open", "close", "volume" and "rate_return". Inside the class body, the first method is called __init__, which is a special method. When we create a new instance of the class, the __init__ method is immediately executed with all the parameters that we pass to the "Stock" object. The purpose of this method is to set up a new "Stock" object using data we have provided.

Here we create two Stock objects named "apple" and "google".

In [99]:
apple  = Stock('AAPL', 143.69, 144.09, 20109375)
google = Stock('GOOGL', 898.7, 911.7, 1561616)

**My code:**

In [113]:
unal  = Stock1('UNAL', 143.69, 144.09, 20109375)
uis = Stock1('UIS', 898.7, 911.7, 1561616)

**14.** Stock objects also have two other methods: update() and print_return(). We can access the attribues of a Stock object and call its methods

In [101]:
apple.ticker
google.print_return()
google.update(912.8,913.4)
google.print_return()

0.014465338822744034
0.0006573181419806673

**My code (in my code the method1() is update()):**

In [115]:
unal.var1
uis.print_return()
uis.method1(912.8,913.4)
uis.print_return()

0.014465338822744034
0.0006573181419806673

**15.** By calling the update() function, we updated the open and close prices of a stock. Please note that when we use the attributes or call the methods inside a class, we need to specify them as self.attribute or self.method(), otherwise Python will deem them as global variables and thus raise an error.

We can add an attribute to an object anywhere:

In [104]:
apple.ceo = 'Tim Cook'
apple.ceo

'Tim Cook'

**My code:**

In [110]:
unal.campus = 'Manizales'
unal.campus

'Manizales'

**16.** We can check what names (i.e. attributes and methods) are defined on an object using the dir() function:

In [106]:
dir(apple)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'ceo',
 'close',
 'open',
 'print_return',
 'rate_return',
 'ticker',
 'update',
 'volume']

**My code:**

In [116]:
dir(unal)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'method1',
 'print_return',
 'rate_return',
 'var1',
 'var2',
 'var3',
 'var4']

**17. Inheritance**

Inheritance is a way of arranging classes in a hierarchy from the most general to the most specific. A "child" class is a more specific type of a "parent" class because a child class will inherit all the attribues and methods of its parent. For example, we define a class named "Child" which inherits "Stock":

In [117]:
class Child(Stock):
    def __init__(self, name):
        self.name = name

**My code:**

In [118]:
class Unal_Child(Stock1):
    def __init__(self, name):
        self.name = name

**18.** Then we create an object:

In [121]:
aa = Child('AA')
print (aa.name)
aa.update(100, 102)
print (aa.open)
print (aa.close)
aa.print_return()

AA
100
102
0.020000000000000018

**My code:**

In [122]:
aa = Unal_Child('Ingenieria')
print (aa.name)
aa.method1(100, 102)
print (aa.var2)
print (aa.var3)
aa.print_return()

Ingenieria
100
102
0.020000000000000018

## **NumPy and Basic Pandas (Tutorial #4)**

**Introduction**

Now that we have introduced the fundamentals of Python, it's time to learn about NumPy and Pandas.

**1. NumPy**

NumPy is the core library for scientific computing in Python. It provides a high-performance multidimensional array object, and tools for working with these arrays. It also has strong integration with Pandas, which is another powerful tool for manipulating financial data.

Python packages like NumPy and Pandas contain classes and methods which we can use by importing the package:

In [123]:
import numpy as np

**My code:**

In [124]:
import numpy as nump

**2.** **Basic NumPy Arrays**

A NumPy array is a grid of values, all of the same type, and is indexed by a tuple of nonnegative integers. Here we make an array by passing a list of Apple stock prices:

In [126]:
price_list = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
price_array = np.array(price_list)
print (price_array, type(price_array))

[143.73 145.83 143.68 144.02 143.5  142.62] <class 'numpy.ndarray'>

**My code:**

In [127]:
list1 = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
array1 = nump.array(list1)
print (array1, type(array1))

[143.73 145.83 143.68 144.02 143.5  142.62] <class 'numpy.ndarray'>

**3.** Notice that the type of array is "ndarray" which is a multi-dimensional array. If we pass np.array() a list of lists, it will create a 2-dimensional array.

In [129]:
Ar = np.array([[1,3], [2,4]])
print (Ar, type(Ar))

[[1 3]
 [2 4]] <class 'numpy.ndarray'>

**My code:**

In [132]:
numpAr = nump.array([[-1,-3], [-2,-4]])
print (numpAr, type(numpAr))

[[-1 -3]
 [-2 -4]] <class 'numpy.ndarray'>

**4.** We get the dimensions of an ndarray using the .shape attribute:

In [133]:
print (Ar.shape)

(2, 2)

**My code:**

In [134]:
print (numpAr.shape)

(2, 2)

**5.** If we create an 2-dimensional array (i.e. matrix), each row can be accessed by index:

In [135]:
print (Ar[0])
print (Ar[1])

[1 3]
[2 4]

**My code:**

In [136]:
print (numpAr[0])
print (numpAr[1])

[-1 -3]
[-2 -4]

**6.** If we want to access the matrix by column instead:

In [138]:
print ('First column:', Ar[:,0])
print ('Second column:', Ar[:,1])

First column: [1 2]
Second column: [3 4]

**My code:**

In [142]:
print ('First column:', numpAr[:,0])
print ('Second column:', numpAr[:,1])

First column: [-1 -2]
Second column: [-3 -4]

**7.** **Array Functions**

Some functions built in NumPy that allow us to perform calculations on arrays. For example, we can apply the natural logarithm to each element of an array:

In [143]:
np.log(price_array)

array([4.96793654, 4.98244156, 4.9675886 , 4.96995218, 4.96633504,
       4.96018375])

**My code:**

In [145]:
nump.log(array1)

array([4.96793654, 4.98244156, 4.9675886 , 4.96995218, 4.96633504,
       4.96018375])

**8.** Other functions return a single value:

In [147]:
print (np.mean(price_array))
print (np.std(price_array))
print (np.sum(price_array))
print (np.max(price_array))

143.89666666666668
0.9673790478515796
863.38
145.83

**My code:**

In [148]:
print (nump.mean(array1))
print (nump.std(array1))
print (nump.sum(array1))
print (nump.max(array1))

143.89666666666668
0.9673790478515796
863.38
145.83

The functions above return the mean, standard deviation, total and maximum value of an array.

**9.** **Pandas**

Pandas is one of the most powerful tools for dealing with financial data. First we need to import Pandas:

In [203]:
import pandas as pd

**My code:**

In [204]:
import pandas as pand

**10.** **Series**

Series is a one-dimensional labeled array capable of holding any data type (integers, strings, float, Python object, etc.)

We create a Series by calling pd.Series(data), where data can be a dictionary, an array or just a scalar value.

In [205]:
price = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
s = pd.Series(price)
print (s)

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
dtype: float64

**My code:**

In [206]:
height = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
height_series = pand.Series(height)
print (height_series)

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
dtype: float64

**11.** We can customize the indices of a new Series:

In [207]:
s = pd.Series(price, index = ['a', 'b', 'c', 'd', 'e', 'f'])
print (s)

a    143.73
b    145.83
c    143.68
d    144.02
e    143.50
f    142.62
dtype: float64

**My code:**

In [208]:
height_series = pd.Series(price, index = ['a', 'b', 'c', 'd', 'e', 'f'])
print (height_series)

a    143.73
b    145.83
c    143.68
d    144.02
e    143.50
f    142.62
dtype: float64

**12.** Or we can change the indices of an existing Series:

In [209]:
s.index = [6,5,4,3,2,1]
print (s)

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64

**My code:**

In [210]:
height_series.index = [6,5,4,3,2,1]
print (height_series)

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64

**13.** Series is like a list since it can be sliced by index:

In [211]:
print (s[1:])
print (s[:-2])

5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64
6    143.73
5    145.83
4    143.68
3    144.02
dtype: float64

**My date:**

In [212]:
print (height_series[1:])
print (height_series[:-2])

5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64
6    143.73
5    145.83
4    143.68
3    144.02
dtype: float64

**14.** Series is also like a dictionary whose values can be set or fetched by index label:

In [213]:
print (s[4])
s[4] = 0
print (s)

143.68
6    143.73
5    145.83
4      0.00
3    144.02
2    143.50
1    142.62
dtype: float64

**My code:**

In [214]:
print (height_series[4])
height_series[4] = 0
print (height_series)

143.68
6    143.73
5    145.83
4      0.00
3    144.02
2    143.50
1    142.62
dtype: float64

**15.** Series can also have a name attribute, which will be used when we make up a Pandas DataFrame using several series.

In [215]:
s = pd.Series(price, name = 'Apple Prices')
print (s)
print (s.name)

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
Name: Apple Prices, dtype: float64
Apple Prices

**My code:**

In [216]:
height_series = pd.Series(height_series, name = "UNAL Student's Heights")
print (height_series)
print (height_series.name)

6    143.73
5    145.83
4      0.00
3    144.02
2    143.50
1    142.62
Name: UNAL Student's Heights, dtype: float64
UNAL Student's Heights

**16.** We can get the statistical summaries of a Series:

In [217]:
print (s.describe())

count      6.000000
mean     143.896667
std        1.059711
min      142.620000
25%      143.545000
50%      143.705000
75%      143.947500
max      145.830000
Name: Apple Prices, dtype: float64

**My code:**

In [218]:
print (height_series.describe())

count      6.000000
mean     119.950000
std       58.772717
min        0.000000
25%      142.840000
50%      143.615000
75%      143.947500
max      145.830000
Name: UNAL Student's Heights, dtype: float64

**17.** **Time Index**

Pandas has a built-in function specifically for creating date indices: pd.date_range(). We use it to create a new index for our Series:

In [219]:
time_index = pd.date_range('2017-01-01', periods = len(s), freq = 'D')
print (time_index)
s.index = time_index
print (s)

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06'],
              dtype='datetime64[ns]', freq='D')
2017-01-01    143.73
2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
2017-01-06    142.62
Freq: D, Name: Apple Prices, dtype: float64

**My code:**

In [220]:
indexes = pd.date_range('2017-01-01', periods = len(s), freq = 'Y')
print (indexes)
height_series.index = indexes
print (height_series)

DatetimeIndex(['2017-12-31', '2018-12-31', '2019-12-31', '2020-12-31',
               '2021-12-31', '2022-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')
2017-12-31    143.73
2018-12-31    145.83
2019-12-31      0.00
2020-12-31    144.02
2021-12-31    143.50
2022-12-31    142.62
Freq: A-DEC, Name: UNAL Student's Heights, dtype: float64

**18.** Series are usually accessed using the iloc[] and loc[] methods. iloc[] is used to access elements by integer index, and loc[] is used to access the index of the series.

iloc[] is necessary when the index of a series are integers, take our previous defined series as example:

In [221]:
s.index = [6,5,4,3,2,1]
print (s)
print (s[1])

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
Name: Apple Prices, dtype: float64
142.62

**My code:**

In [222]:
height_series.index = [6,5,4,3,2,1]
print (height_series)
print (height_series[2])

6    143.73
5    145.83
4      0.00
3    144.02
2    143.50
1    142.62
Name: UNAL Student's Heights, dtype: float64
143.5

**19.** If we intended to take the second element of the series, we would make a mistake here, because the index are integers. In order to access to the element we want, we use iloc[] here:

In [223]:
print (s.iloc[1])

145.83

**My code:**

In [224]:
print (height_series.iloc[2])

0.0

**20.** While working with time series data, we often use time as the index. Pandas provides us with various methods to access the data by time index.

In [185]:
s.index = time_index
print (s['2017-01-03'])

143.68

**My code:**

In [187]:
height_series.index = indexes
print (height_series['2017-12-31'])

143.73

**21.** We can even access to a range of dates:

In [189]:
print (s['2017-01-02':'2017-01-05'])

2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
Freq: D, Name: Apple Prices, dtype: float64

**My code:**

In [191]:
print (height_series['2017-12-31':'2019-12-31'])

2017-12-31    143.73
2018-12-31    145.83
2019-12-31    143.68
Freq: A-DEC, Name: UNAL Student's Heights, dtype: float64

**22.** Series[] provides us a very flexible way to index data. We can add any condition in the square brackets:

In [192]:
print (s[s < np.mean(s)])
print (s[(s > np.mean(s)) & (s < np.mean(s) + 1.64*np.std(s))])

2017-01-01    143.73
2017-01-03    143.68
2017-01-05    143.50
2017-01-06    142.62
Name: Apple Prices, dtype: float64
2017-01-04    144.02
Freq: D, Name: Apple Prices, dtype: float64

**My code:**

In [194]:
print (height_series[height_series < nump.mean(s)])
print (height_series[(height_series > nump.mean(height_series)) & (height_series < nump.mean(height_series) + 1.64*nump.std(height_series))])

2017-12-31    143.73
2019-12-31    143.68
2021-12-31    143.50
2022-12-31    142.62
Name: UNAL Student's Heights, dtype: float64
2020-12-31    144.02
Freq: A-DEC, Name: UNAL Student's Heights, dtype: float64

As demonstrated, we can use logical operators like & (and), | (or) and ~ (not) to group multiple conditions.