# **Introduction to Financial Python**

## **Data Types and Data Structures (Tutorial #1)**

**1. Basic Variable Types**

The basic types of variables in Python are: strings, integers, floating point numbers and booleans.

Strings in python are identified as a contiguous set of characters represented in either single quotes (' ') or double quotes (" ").

In [ ]:
my_string1 = 'Welcome to'
my_string2 = "QuantConnect"
print(my_string1 + ' ' + my_string2)

Welcome to QuantConnect

**My code:**

In [ ]:
string1 = 'Welcome to'
string2 = "My first code"
print(string1 + ' ' + string2)

Welcome to My first code

**2.** An integer is a round number with no values after the decimal point

In [ ]:
my_int = 10
print(my_int)
print(type(my_int))

10
<class 'int'>

**My code:**

In [ ]:
integer = 777
print(integer)
print(type(integer))

777
<class 'int'>

**3.** The built-in function int() can convert a string into an integer

In [ ]:
my_string = "100"
print(type(my_string))
my_int = int(my_string)
print(type(my_int))

<class 'str'>
<class 'int'>

**My code:**

In [ ]:
string = "777"
print(type(string))
integer = int(integer)
print(type(integer))

<class 'str'>
<class 'int'>

**4.** A floating point number, or a float, is a real number in mathematics. In Python we need to include a value after a decimal point to define it as a float

In [ ]:
my_float = 1.0
print(type(my_float))
my_int = 1
print(type(my_int))

<class 'float'>
<class 'int'>

**My code:**

In [ ]:
floating = 434.7
print(type(floating))
integer = 209
print(type(integer))

<class 'float'>
<class 'int'>

**5.** As you can see above, if we don't include a decimal value, the variable would be defined as an integer. The built-in function float() can convert a string or an integer into a float

In [ ]:
my_string = "100"
my_float = float(my_string)
print(type(my_float))

<class 'float'>

**My code:**

In [ ]:
string = "434.7"
float1 = float(string)
print(type(float1))

<class 'float'>

**6.** A boolean, or bool, is a binary variable. Its value can only be True or False. It is useful when we do some logic operations, which would be covered in our next chapter

In [ ]:
my_bool = False
print(my_bool)
print(type(my_bool))

False
<class 'bool'>

**My code:**

In [ ]:
boolean = False
print(boolean)
print(type(boolean))

False
<class 'bool'>

**7. Basic Math Operations**

The basic math operators in python are demonstrated below:

In [ ]:
print("Addition ", 1+1)
print("Subtraction ", 5-2)
print("Multiplication ", 2*3)
print("Division", 10/2)
print("exponent", 2**3)

Addition  2
Subtraction  3
Multiplication  6
Division 5.0
exponent 8

**My code:**

In [ ]:
print("Addition ", 100+1)
print("Subtraction ", 5-245)
print("Multiplication ", 2*300)
print("Division", 500/2)
print("exponent", 2**8)

Addition  101
Subtraction  -240
Multiplication  600
Division 250.0
exponent 256

**8. Data Collections**

**List**

A list is an ordered collection of values. A list is mutable, which means you can change a list's value without changing the list itself. Creating a list is simply putting different comma-separated values between square brackets.

In [ ]:
my_list = ['Quant', 'Connect', 1,2,3]
print(my_list)

['Quant', 'Connect', 1, 2, 3]

**My code:**

In [ ]:
list1 = ['Algorithms', 'UNAL', 1,2,3]
print(list1)

['Algorithms', 'UNAL', 1, 2, 3]

**9.** The values in a list are called "elements". We can access list elements by indexing. Python index starts from 0. So if you have a list of length n, the index of the first element will be 0, and that of the last element will be n âˆ’ 1. By the way, the length of a list can be obtained by the built-in function len().

In [ ]:
my_list = ['Quant', 'Connect', 1,2,3]
print(len(my_list))
print(my_list[0])
print(my_list[len(my_list) - 1])

5
Quant
3

**My code:**

In [ ]:
list1 = ['Algorithms', 'UNAL', 1,2,3]
print(len(list1))
print(list1[0])
print(list1[len(list1) - 1])

5
Algorithms
3

**10.** You can also change the elements in the list by accessing an index and assigning a new value.

In [ ]:
my_list = ['Quant','Connect',1,2,3]
my_list[2] = 'go'
print(my_list)

['Quant', 'Connect', 'go', 2, 3]

**My code:**

In [ ]:
list1 = ['Alhorithms','UNAL',1,2,3]
list1[2] = 'Bogota'
print(list1)

['Alhorithms', 'UNAL', 'Bogota', 2, 3]

**11.** A list can also be sliced with a colon:

In [ ]:
my_list = ['Quant','Connect',1,2,3]
print(my_list[1:3])

['Connect', 1]

**My code:**

In [ ]:
list1 = ['Algorithms','UNAL',1,2,3]
print(list1[1:4])

['UNAL', 1, 2]

**12.** The slice starts from the first element indicated, but excludes the last element indicated. Here we select all elements starting from index 1, which refers to the second element:

In [ ]:
print(my_list[1:])

['Connect', 1, 2, 3]

**My code (The slice starts form the second element):**

In [ ]:
print(list1[2:])

[1, 2, 3]

**13.** And all elements up to but excluding index 3:

In [ ]:
print(my_list[:3])

['Quant', 'Connect', 1]

**My code (And all elements up to but excluding index 4:):**

In [ ]:
print(list1[:4])

['Algorithms', 'UNAL', 1, 2]

**14.** If you wish to add or remove an element from a list, you can use the append() and remove() methods for lists as follows:

In [ ]:
my_list = ['Hello', 'Quant']
my_list.append('Hello')
print(my_list)
my_list.remove('Hello')
print(my_list)

['Hello', 'Quant', 'Hello']
['Quant', 'Hello']

**My code:**

In [ ]:
list1 = ['Algorithms', 'UNAL']
list1.append('Algorithms')
print(list1)
list1.remove('Algorithms')
print(list1)

['Algorithms', 'UNAL', 'Algorithms']
['UNAL', 'Algorithms']

**15. Tuple**

A tuple is a data structure type similar to a list. The difference is that a tuple is immutable, which means you can't change the elements in it once it's defined. We create a tuple by putting comma-separated values between parentheses.

In [ ]:
my_tuple = ('Welcome','to','QuantConnect')

**My code:**

In [ ]:
tuple1 = ('Welcome','to','UNAL')

**16.** Just like a list, a tuple can be sliced by using index.

In [ ]:
my_tuple = ('Welcome','to','QuantConnect')
print(my_tuple[1:])

('to', 'QuantConnect')

**My code:**

In [ ]:
tuple1 = ('Welcome','to','UNAL')
print(tuple1[1:])

('to', 'UNAL')

**17.** **Set**

A set is an unordered collection with no duplicate elements. The built-in function set() can be used to create sets.

In [ ]:
stock_list = ['AAPL','GOOG','IBM','AAPL','IBM','FB','F','GOOG']
stock_set = set(stock_list)
print(stock_set)

{'F', 'AAPL', 'GOOG', 'IBM', 'FB'}

**My code:**

In [ ]:
listin = ['UNAL','DISTRITAL','PEDAGOGICA','UIS','UNAL','UNAL','UIS','UNAL']
setin = set(listin)
print(setin)

{'DISTRITAL', 'UNAL', 'PEDAGOGICA', 'UIS'}

**18. Dictionary**

A dictionary is one of the most important data structures in Python. Unlike sequences which are indexed by integers, dictionaries are indexed by keys which can be either strings or floats.

A dictionary is an unordered collection of key : value pairs, with the requirement that the keys are unique. We create a dictionary by placing a comma-separated list of key : value pairs within the braces.

In [ ]:
my_dic = {'AAPL': 'Apple', 'FB': 'FaceBook', 'GOOG': 'Alphabet'}

**My code:**

In [ ]:
dic1 = {'UNAL': 'Universidad Nacional', 'DISTRITAL': 'Universidad Distrital', 'PEDAGOGICA': 'Universidad Pedagogica'}

**19.** After defining a dictionary, we can access any value by indicating its key in brackets.

In [ ]:
print(my_dic['GOOG'])

Alphabet

**My code:**

In [ ]:
print(dic1['UNAL'])

Universidad Nacional

**20.** We can also change the value associated with a specified key:

In [ ]:
my_dic['GOOG'] = 'Alphabet Company'
print(my_dic['GOOG'])

Alphabet Company

**My code:**

In [ ]:
dic1['UNAL'] = 'Universidad Nacional Abierta y a Distancia'
print(dic1['UNAL'])

Universidad Nacional Abierta y a Distancia

**21.** The built-in method of the dictionary object dict.keys() returns a list of all the keys used in the dictionary.

In [ ]:
print(my_dic.keys())

dict_keys(['AAPL', 'FB', 'GOOG'])

**My code:**

In [ ]:
print(dic1.keys())

dict_keys(['UNAL', 'DISTRITAL', 'PEDAGOGICA'])

**22.** **Common String Operations**

A string is an immutable sequence of characters. It can be sliced by index just like a tuple:

In [ ]:
my_str = 'Welcome to QuantConnect'
print(my_str[8:])

to QuantConnect

**My code:**

In [ ]:
string1 = 'Welcome to UNAL'
print(string1[10:])

 UNAL

**23.** There are many methods associated with strings. We can use string.count() to count the occurrences of a character in a string, use string.find() to return the index of a specific character, and use string.replace() to replace characters.

In [ ]:
print("Counting the number of e's in this sentence".count('e'))
print('The first time e appears in this sentence'.find('e'))
print('all the a in this sentence now becomes e'.replace('a','e'))

6
2
ell the e in this sentence now becomes e

**My code:**

In [ ]:
print("Counting the number of u's in this sentence".count('u'))
print('The first time p appears in this sentence'.find('n'))
print('all the a in this sentence now becomes e'.replace('a','x'))

3
26
xll the x in this sentence now becomes e

**24.** The most commonly used method for strings is string.split(). This method will split the string by the indicated character and return a list:

In [ ]:
Time = '2016-04-01 09:43:00'
splited_list = Time.split(' ')
date = splited_list[0]
time = splited_list[1]
print(date, time)
hour = time.split(':')[0]
print(hour)

2016-04-01 09:43:00
09

**My code:**

In [ ]:
Time = '2021-10-17 22:26:00'
splited_list = Time.split(' ')
date = splited_list[0]
time = splited_list[1]
print(date, time)
hour = time.split(':')[0]
print(hour)

2021-10-17 22:26:00
22

**25.** We can replace parts of a string by our variable. This is called string formatting.

In [ ]:
my_time = 'Hour: {}, Minute: {}'.format(9, 43)
print(my_time)

Hour: 9, Minute: 43

**My code:**

In [ ]:
time1 = 'Hour: {}, Minute: {}'.format(22, 26)
print(time1)

Hour: 22, Minute: 26

**26.** Another way to format a string is to use the % symbol.

In [ ]:
print ('pi is %f' % 3.14)
print('%s to %s' % ('Welcome', 'QuantConnect'))

pi is 3.140000
Welcome to QuantConnect

**My code:**

In [ ]:
print ('pi is %f' % 3.1415926535)
print('%s to %s' % ('Welcome', 'UNAL'))

pi is 3.141593
Welcome to UNAL

## **Logical Operations and Loops (Tutorial #2)**

**Introduction**

We discussed the basic data types and data structures in Python in the last tutorial. This chapter covers logical operations and loops in Python, which are very common in programming.

**1. Logical Operations**

Like most programming languages, Python has comparison operators:

In [ ]:
print (1 == 0)    # 1 equals 0
print (1 == 1)    # 1 equals 1
print (1 != 0)    # 1 is not equal to 0
print (5 >= 5)    # 5 is greater than or equal to 5
print (5 >= 6)    # 5 is greater than or equal to 6

False
True
True
True
False

**My code:**

In [ ]:
print (10 == 0)    # 10 equals 0
print (10 == 10)    # 10 equals 10
print (10 != 0)    # 10 is not equal to 0
print (13 >= 5)    # 13 is greater than or equal to 5
print (-5 >= 6)    # -5 is greater than or equal to 6

False
True
True
True
False

**2.** Each statement above has a boolean value, which must be either True or False, but not both.

We can combine simple statements P and Q to form complex statements using logical operators:

* The statement "P and Q" is true if both P and Q are true, otherwise it is false.
* The statement "P or Q" is false if both P and Q are false, otherwise it is true.
* The statement "not P" is true if P is false, and vice versa.

In [ ]:
print (2 > 1 and 3 > 2)
print (2 > 1 and 3 < 2)
print (2 > 1 or  3 < 2)
print (2 < 1 and 3 < 2)

True
False
True
False

**My code:**

In [ ]:
print (19 > 14 and 384 > 209)
print (-1 > -2 and -1 < -2)
print (-1 > -2 or  -1 < -2)
print (-1 < -127 and -1 < -2021)

True
False
True
False

**3.** When dealing with a very complex logical statement that involves in several statements, we can use brackets to separate and combine them.

In [ ]:
print ((3 > 2 or 1 < 3) and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))
print (3 > 2 or 1 < 3 and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))

False
True

**My code:**

In [ ]:
print ((343 > 538 or -1 < 30) and (-1!=3 and 448>3) and not ( 378 < -2 or 1 < -3 and (-1!=36 and 476>3)))
print (746 > -2 or -1 < 3 and (-1!=3 and 445>-3) and not ( 3 < -2 or 1 < -3 and (138!=356 and 434>33)))

True
True

**4. If Statement**

An if statement executes a segment of code only if its condition is true. A standard if statement consists of 3 segments: if, elif and else.

if condition1:
    # if condition1 is true, execute the code here
    # and ignore the rest of this if statement
elif condition2:
    # if condition1 is false, and condition2 is true, execute the code here
    # and ignore the rest of this if statement
else:
    # if none of the above conditions is True, execute the code here

An if statement doesn't necessarily has elif and else part. If it's not specified, the indented block of code will be executed when the condition is true, otherwise the whole if statement will be skipped.

In [ ]:
i = 0
if i == 0: print ('i == 0 is True')

i == 0 is True

**My code:**

In [ ]:
variable = 777
if variable == 777: print ('variable == 777 is True')

variable == 777 is True

**5.** As we mentioned above, we can write some complex statements here:

In [ ]:
p = 1 > 0
q = 2 > 3
if p and q:
    print ('p and q is true')
elif p and not q:
    print ('q is false')
elif q and not p:
    print ('p is false')
else:
    print ('None of p and q is true')

q is false

**My code:**

In [ ]:
x = 1 > 0
y = !(2 > 3)
if x and y:
    print ('x and y is true')
elif x and not y:
    print ('y is false')
elif x and not y:
    print ('x is false')
else:
    print ('None of x and y is true')

x and y is true

**6. Loop Structure**

Loops are an essential part of programming. The "for" and "while" loops run a block of code repeatedly.

**While Loop**

A "while" loop will run repeatedly until a certain condition has been met.

In [ ]:
i = 0
while i < 5:
    print (i)
    i += 1

0
1
2
3
4

**My code:**

In [ ]:
x = 0
while x < 30:
    print (x)
    x += 1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29

**7. For Loop**

A "for" loop will iterate over a sequence of value and terminate when the sequence has ended.

In [ ]:
for x in [1,2,3,4,5]: print (x)

1
2
3
4
5

**My code:**

In [ ]:
for x in [-5,-4,-3,-2,-1]: print (x)

-5
-4
-3
-2
-1

**8.** We can also add if statements in a for loop. Here is a real example from our pairs trading algorithm:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = []
for stock in stocks:
    if stock not in selected:
        new_list.append(stock)
print (new_list)

['GOOG', 'FB', 'F', 'V', 'G', 'GE']

**My code:**

In [ ]:
stocks = ['UNAL','DISTRITAL','PEDAGOGICA','UIS','BOGOTA','UNIVALLE', 'MANIZALES', 'UDEA']
selected = ['UDEA','UIS']
new_list = []
for stock in stocks:
    if stock not in selected:
        new_list.append(stock)
print (new_list)

['UNAL', 'DISTRITAL', 'PEDAGOGICA', 'BOGOTA', 'UNIVALLE', 'MANIZALES']

**9. Break and continue**

These are two commonly used commands in a for loop. If "break" is triggered while a loop is executing, the loop will terminate immediately:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for stock in stocks:
    print (stock)
    if stock == 'FB': break

AAPL
GOOG
IBM
FB

**My code:**

In [ ]:
stocks = ['UNAL','DISTRITAL','PEDAGOGICA','UIS','BOGOTA','UNIVALLE', 'MANIZALES', 'UDEA']
for stock in stocks:
    print (stock)
    if stock == 'UIS': break

UNAL
DISTRITAL
PEDAGOGICA
UIS

**10.** The "continue" command tells the loop to end this iteration and skip to the next iteration:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for stock in stocks:
    if stock == 'FB': continue
    print (stock)

AAPL
GOOG
IBM
F
V
G
GE

**My code:**

In [ ]:
stocks = ['UNAL','DISTRITAL','PEDAGOGICA','UIS','BOGOTA','UNIVALLE', 'MANIZALES', 'UDEA']
for stock in stocks:
    if stock == 'UNIVALLE': continue
    print (stock)

UNAL
DISTRITAL
PEDAGOGICA
UIS
BOGOTA
MANIZALES
UDEA

**11. List Comprehension**

List comprehension is a Pythonic way to create lists. Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence. For example, if we want to create a list of squares using for loop:

In [ ]:
squares = []
for i in [1,2,3,4,5]:
    squares.append(i**2)
print (squares)

[1, 4, 9, 16, 25]

**My code:**

In [ ]:
squares = []
for i in [1,2,3,4,5]:
    squares.append(i**10)
print (squares)

[1, 1024, 59049, 1048576, 9765625]

**12.** Using list comprehension:

In [ ]:
foo = [1,2,3,4,5]
squares = [x**2 for x in foo]
print (squares)

[1, 4, 9, 16, 25]

**My code:**

In [ ]:
foo = [1,2,3,4,5]
squares = [x**10 for x in foo]
print (squares)

[1, 1024, 59049, 1048576, 9765625]

**13.** Recall the example above where we used a for loop to select stocks. Here we use list comprehension:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = [x for x in stocks if x not in selected]
print (new_list)

['GOOG', 'FB', 'F', 'V', 'G', 'GE']

**My code:**

In [ ]:
stocks = ['UNAL','DISTRITAL','PEDAGOGICA','UIS','BOGOTA','UNIVALLE', 'MANIZALES', 'UDEA']
selected = ['UDEA','UIS']
new_list = [x for x in stocks if x not in selected]
print (new_list)

['UNAL', 'DISTRITAL', 'PEDAGOGICA', 'BOGOTA', 'UNIVALLE', 'MANIZALES']

**14.** A list comprehension consists of square brackets containing an expression followed by a "for" clause, and possibly "for" or "if" clauses. For example:

In [ ]:
print ([(x, y) for x in [1,2,3] for y in [3,1,4] if x != y])
print ([str(x) + ' vs ' + str(y) for x in ['AAPL','GOOG','IBM','FB'] for y in ['F','V','G','GE'] if x != y])

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]
['AAPL vs F', 'AAPL vs V', 'AAPL vs G', 'AAPL vs GE', 'GOOG vs F', 'GOOG vs V', 'GOOG vs G', 'GOOG vs GE', 'IBM vs F', 'IBM vs V', 'IBM vs G', 'IBM vs GE', 'FB vs F', 'FB vs V', 'FB vs G', 'FB vs GE']

**My code:**

In [ ]:
print ([(x, y) for x in [-1,-2,-3] for y in [3,1,4] if x != y])
print ([str(x) + ' vs ' + str(y) for x in ['UNAL','UNAM','UIS','UDEA'] for y in ['DISTRITAL','UNAM','UDEA','UIS'] if x != y])

[(-1, 3), (-1, 1), (-1, 4), (-2, 3), (-2, 1), (-2, 4), (-3, 3), (-3, 1), (-3, 4)]
['UNAL vs DISTRITAL', 'UNAL vs UNAM', 'UNAL vs UDEA', 'UNAL vs UIS', 'UNAM vs DISTRITAL', 'UNAM vs UDEA', 'UNAM vs UIS', 'UIS vs DISTRITAL', 'UIS vs UNAM', 'UIS vs UDEA', 'UDEA vs DISTRITAL', 'UDEA vs UNAM', 'UDEA vs UIS']

## **Functions and Objective-Oriented Programming (Tutorial #3)**

**Introduction**

In the last tutorial we introduced logical operations, loops and list comprehension. We will introduce functions and object-oriented programming in this chapter, which will enable us to build complex algorithms in more flexible ways.

**1. Functions**

A function is a reusable block of code. We can use a function to output a value, or do anything else we want. We can easily define our own function by using the keyword "def".

In [ ]:
def product(x,y):
    return x*y
print (product(2,3))
print (product(5,10))

6
50

**My code:**

In [ ]:
def sum1(x,y):
    return x+y
print (product(2,3))
print (product(5,10))

6
50

**2.** The keyword "def" is followed by the function name and the parenthesized list of formal parameters. The statements that form the body of the function start at the next line, and must be indented. The product() function above has "x" and "y" as its parameters. A function doesn't necessarily have parameters

In [ ]:
def say_hi():
    print ("Welcome to QuantConnect")
say_hi()

Welcome to QuantConnect

**My code:**

In [ ]:
def say_hi():
    print ("Welcome to Algorithms")
say_hi()

Welcome to Algorithms

**3. Built-in Function**

range() is a function that creates a list containing an arithmetic sequence. It's often used in for loops. The arguments must be integers. If the "step" argument is omitted, it defaults to 1.

In [ ]:
print(range(10))
print(range(1, 11))
print(range(1, 11, 2))

range(0, 10)
range(1, 11)
range(1, 11, 2)

**My code:**

In [ ]:
print(range(100))
print(range(1, 211))
print(range(1, 211, 3))

range(0, 100)
range(1, 211)
range(1, 211, 3)

**4.** len() is another function used together with range() to create a for loop. This function returns the length of an object. The argument must be a sequence or a collection.

In [ ]:
tickers = ['AAPL', 'GOOGL', 'IBM', 'FB', 'F', 'V', 'G', 'GE']
print ("The number of tickers is {}".format(len(tickers)))
for k in range(len(tickers)):
    print (k + 1, tickers[k])

The number of tickers is 8
1 AAPL
2 GOOGL
3 IBM
4 FB
5 F
6 V
7 G
8 GE

**My code:**

In [ ]:
tickers = ['UNAL','DISTRITAL','PEDAGOGICA','UIS','BOGOTA','UNIVALLE', 'MANIZALES', 'UDEA']
print ("The number of tickers is {}".format(len(tickers)))
for k in range(len(tickers)):
    print (k + 1, tickers[k])

The number of tickers is 8
1 UNAL
2 DISTRITAL
3 PEDAGOGICA
4 UIS
5 BOGOTA
6 UNIVALLE
7 MANIZALES
8 UDEA

**5.** map() is a function that applies a specific function to every item of a sequence or collection, and returns a list of the results.

In [ ]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print(list(map(len,tickers)))

[4, 4, 3, 2, 1, 1, 1, 2]

**My code:**

In [ ]:
tickers = ['UNAL','DISTRITAL','PEDAGOGICA','UIS','BOGOTA','UNIVALLE', 'MANIZALES', 'UDEA']
print(list(map(len,tickers)))

[4, 9, 10, 3, 6, 8, 9, 4]

**6.** The lambda operator is a way to create small anonymous functions. These functions are just needed where they have been created. For example:

In [ ]:
print(list(map(lambda x: x**2, range(10))))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

**My code:**

In [ ]:
print(list(map(lambda x: x**-1, range(1,10))))

[1.0, 0.5, 0.3333333333333333, 0.25, 0.2, 0.16666666666666666, 0.14285714285714285, 0.125, 0.1111111111111111]

**7.** map() can be applied to more than one list. The lists have to have the same length.

In [ ]:
print(list(map(lambda x, y: x+y, [1,2,3,4,5], [5,4,3,2,1])))

[6, 6, 6, 6, 6]

**My code:**

In [ ]:
print(list(map(lambda x, y: x+y, [1,-16,-7,4,5], [-5,-4,-3,-2,-1])))

[-4, -20, -10, 2, 4]

**8.** sorted() takes a list or set and returns a new sorted list:

In [ ]:
sorted([5,2,3,4,1])

[1, 2, 3, 4, 5]

**My code:**

In [ ]:
sorted([-5,-2,-3,4,-1])

[-5, -3, -2, -1, 4]

**9.** We can add a "key" parameter to specify a function to be called on each list element prior to making comparisons. For example:

In [ ]:
price_list = [('AAPL', 144.09), ('GOOGL', 911.71), ('MSFT', 69), ('FB', 150), ('WMT', 75.32)]
sorted(price_list, key = lambda x: x[1])

[('MSFT', 69),
 ('WMT', 75.32),
 ('AAPL', 144.09),
 ('FB', 150),
 ('GOOGL', 911.71)]

**My code:**

In [ ]:
price_list = [('UNAL', 144.09), ('DISTRITAL', 911.71), ('PEDAGOGICA', 69), ('UNIVALLE', 150), ('UIS', 75.32)]
sorted(price_list, key = lambda x: x[1])

[('PEDAGOGICA', 69),
 ('UIS', 75.32),
 ('UNAL', 144.09),
 ('UNIVALLE', 150),
 ('DISTRITAL', 911.71)]

**10.** By default the values are sorted by ascending order. We can change it to descending by adding an optional parameter "reverse'.

In [ ]:
price_list = [('AAPL', 144.09), ('GOOGL', 911.71), ('MSFT', 69), ('FB', 150), ('WMT', 75.32)]
sorted(price_list, key = lambda x: x[1], reverse = True)

[('GOOGL', 911.71),
 ('FB', 150),
 ('AAPL', 144.09),
 ('WMT', 75.32),
 ('MSFT', 69)]

**My code:**

In [ ]:
price_list = [('UNAL', 144.09), ('DISTRITAL', 911.71), ('PEDAGOGICA', 69), ('UNIVALLE', 150), ('UIS', 75.32)]
sorted(price_list, key = lambda x: x[1], reverse = True)

[('DISTRITAL', 911.71),
 ('UNIVALLE', 150),
 ('UNAL', 144.09),
 ('UIS', 75.32),
 ('PEDAGOGICA', 69)]

**11.** Lists also have a function list.sort(). This function takes the same "key" and "reverse" arguments as sorted(), but it doesn't return a new list.

In [ ]:
price_list = [('AAPL', 144.09), ('GOOGL', 911.71), ('MSFT', 69), ('FB', 150), ('WMT', 75.32)]
price_list.sort(key = lambda x: x[1])
print (price_list)

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOGL', 911.71)]

**My code:**

In [ ]:
price_list = [('UNAL', 144.09), ('DISTRITAL', 911.71), ('PEDAGOGICA', 69), ('UNIVALLE', 150), ('UIS', 75.32)]
price_list.sort(key = lambda x: x[1])
print (price_list)

[('PEDAGOGICA', 69), ('UIS', 75.32), ('UNAL', 144.09), ('UNIVALLE', 150), ('DISTRITAL', 911.71)]

**12. Object-Oriented Programming**

Python is an object-oriented programming language. It's important to understand the concept of "objects" because almost every kind of data from QuantConnect API is an object.

**Class**

A class is a type of data, just like a string, float, or list. When we create an object of that data type, we call it an instance of a class.

In Python, everything is an object - everything is an instance of some class. The data stored inside an object are called attributes, and the functions which are associated with the object are called methods.

For example, as mentioned above, a list is an object of the "list" class, and it has a method list.sort().

We can create our own objects by defining a class. We would do this when it's helpful to group certain functions together. For example, we define a class named "Stock" here:

In [ ]:
class Stock:
    def __init__(self, ticker, open, close, volume):
        self.ticker = ticker
        self.open = open
        self.close = close
        self.volume = volume
        self.rate_return = float(close)/open - 1

    def update(self, open, close):
        self.open = open
        self.close = close
        self.rate_return = float(self.close)/self.open - 1

    def print_return(self):
        print (self.rate_return)

**My code:**

In [ ]:
class Stock1:
    def __init__(self, var1, var2, var3, var4):
        self.var1 = var1
        self.var2 = var2
        self.var3 = var3
        self.var4 = var4
        self.rate_return = float(var3)/var2 - 1

    def method1(self, var2, var3):
        self.var2 = var2
        self.var3 = var3
        self.rate_return = float(self.var3)/self.var2 - 1

    def print_return(self):
        print (self.rate_return)

**13.** The "Stock" class has attributes "ticker", "open", "close", "volume" and "rate_return". Inside the class body, the first method is called __init__, which is a special method. When we create a new instance of the class, the __init__ method is immediately executed with all the parameters that we pass to the "Stock" object. The purpose of this method is to set up a new "Stock" object using data we have provided.

Here we create two Stock objects named "apple" and "google".

In [ ]:
apple  = Stock('AAPL', 143.69, 144.09, 20109375)
google = Stock('GOOGL', 898.7, 911.7, 1561616)

**My code:**

In [ ]:
unal  = Stock1('UNAL', 143.69, 144.09, 20109375)
uis = Stock1('UIS', 898.7, 911.7, 1561616)

**14.** Stock objects also have two other methods: update() and print_return(). We can access the attribues of a Stock object and call its methods

In [ ]:
apple.ticker
google.print_return()
google.update(912.8,913.4)
google.print_return()

0.014465338822744034
0.0006573181419806673

**My code (in my code the method1() is update()):**

In [ ]:
unal.var1
uis.print_return()
uis.method1(912.8,913.4)
uis.print_return()

0.014465338822744034
0.0006573181419806673

**15.** By calling the update() function, we updated the open and close prices of a stock. Please note that when we use the attributes or call the methods inside a class, we need to specify them as self.attribute or self.method(), otherwise Python will deem them as global variables and thus raise an error.

We can add an attribute to an object anywhere:

In [ ]:
apple.ceo = 'Tim Cook'
apple.ceo

'Tim Cook'

**My code:**

In [ ]:
unal.campus = 'Manizales'
unal.campus

'Manizales'

**16.** We can check what names (i.e. attributes and methods) are defined on an object using the dir() function:

In [ ]:
dir(apple)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'ceo',
 'close',
 'open',
 'print_return',
 'rate_return',
 'ticker',
 'update',
 'volume']

**My code:**

In [ ]:
dir(unal)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'method1',
 'print_return',
 'rate_return',
 'var1',
 'var2',
 'var3',
 'var4']

**17. Inheritance**

Inheritance is a way of arranging classes in a hierarchy from the most general to the most specific. A "child" class is a more specific type of a "parent" class because a child class will inherit all the attribues and methods of its parent. For example, we define a class named "Child" which inherits "Stock":

In [ ]:
class Child(Stock):
    def __init__(self, name):
        self.name = name

**My code:**

In [ ]:
class Unal_Child(Stock1):
    def __init__(self, name):
        self.name = name

**18.** Then we create an object:

In [ ]:
aa = Child('AA')
print (aa.name)
aa.update(100, 102)
print (aa.open)
print (aa.close)
aa.print_return()

AA
100
102
0.020000000000000018

**My code:**

In [ ]:
aa = Unal_Child('Ingenieria')
print (aa.name)
aa.method1(100, 102)
print (aa.var2)
print (aa.var3)
aa.print_return()

Ingenieria
100
102
0.020000000000000018

## **NumPy and Basic Pandas (Tutorial #4)**

**Introduction**

Now that we have introduced the fundamentals of Python, it's time to learn about NumPy and Pandas.

**1. NumPy**

NumPy is the core library for scientific computing in Python. It provides a high-performance multidimensional array object, and tools for working with these arrays. It also has strong integration with Pandas, which is another powerful tool for manipulating financial data.

Python packages like NumPy and Pandas contain classes and methods which we can use by importing the package:

In [ ]:
import numpy as np

**My code:**

In [ ]:
import numpy as nump

**2.** **Basic NumPy Arrays**

A NumPy array is a grid of values, all of the same type, and is indexed by a tuple of nonnegative integers. Here we make an array by passing a list of Apple stock prices:

In [ ]:
price_list = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
price_array = np.array(price_list)
print (price_array, type(price_array))

[143.73 145.83 143.68 144.02 143.5  142.62] <class 'numpy.ndarray'>

**My code:**

In [ ]:
list1 = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
array1 = nump.array(list1)
print (array1, type(array1))

[143.73 145.83 143.68 144.02 143.5  142.62] <class 'numpy.ndarray'>

**3.** Notice that the type of array is "ndarray" which is a multi-dimensional array. If we pass np.array() a list of lists, it will create a 2-dimensional array.

In [ ]:
Ar = np.array([[1,3], [2,4]])
print (Ar, type(Ar))

[[1 3]
 [2 4]] <class 'numpy.ndarray'>

**My code:**

In [ ]:
numpAr = nump.array([[-1,-3], [-2,-4]])
print (numpAr, type(numpAr))

[[-1 -3]
 [-2 -4]] <class 'numpy.ndarray'>

**4.** We get the dimensions of an ndarray using the .shape attribute:

In [ ]:
print (Ar.shape)

(2, 2)

**My code:**

In [ ]:
print (numpAr.shape)

(2, 2)

**5.** If we create an 2-dimensional array (i.e. matrix), each row can be accessed by index:

In [ ]:
print (Ar[0])
print (Ar[1])

[1 3]
[2 4]

**My code:**

In [ ]:
print (numpAr[0])
print (numpAr[1])

[-1 -3]
[-2 -4]

**6.** If we want to access the matrix by column instead:

In [ ]:
print ('First column:', Ar[:,0])
print ('Second column:', Ar[:,1])

First column: [1 2]
Second column: [3 4]

**My code:**

In [ ]:
print ('First column:', numpAr[:,0])
print ('Second column:', numpAr[:,1])

First column: [-1 -2]
Second column: [-3 -4]

**7.** **Array Functions**

Some functions built in NumPy that allow us to perform calculations on arrays. For example, we can apply the natural logarithm to each element of an array:

In [ ]:
np.log(price_array)

array([4.96793654, 4.98244156, 4.9675886 , 4.96995218, 4.96633504,
       4.96018375])

**My code:**

In [ ]:
nump.log(array1)

array([4.96793654, 4.98244156, 4.9675886 , 4.96995218, 4.96633504,
       4.96018375])

**8.** Other functions return a single value:

In [ ]:
print (np.mean(price_array))
print (np.std(price_array))
print (np.sum(price_array))
print (np.max(price_array))

143.89666666666668
0.9673790478515796
863.38
145.83

**My code:**

In [ ]:
print (nump.mean(array1))
print (nump.std(array1))
print (nump.sum(array1))
print (nump.max(array1))

143.89666666666668
0.9673790478515796
863.38
145.83

The functions above return the mean, standard deviation, total and maximum value of an array.

**9.** **Pandas**

Pandas is one of the most powerful tools for dealing with financial data. First we need to import Pandas:

In [ ]:
import pandas as pd

**My code:**

In [ ]:
import pandas as pand

**10.** **Series**

Series is a one-dimensional labeled array capable of holding any data type (integers, strings, float, Python object, etc.)

We create a Series by calling pd.Series(data), where data can be a dictionary, an array or just a scalar value.

In [ ]:
price = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
s = pd.Series(price)
print (s)

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
dtype: float64

**My code:**

In [ ]:
height = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
height_series = pand.Series(height)
print (height_series)

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
dtype: float64

**11.** We can customize the indices of a new Series:

In [ ]:
s = pd.Series(price, index = ['a', 'b', 'c', 'd', 'e', 'f'])
print (s)

a    143.73
b    145.83
c    143.68
d    144.02
e    143.50
f    142.62
dtype: float64

**My code:**

In [ ]:
height_series = pd.Series(price, index = ['a', 'b', 'c', 'd', 'e', 'f'])
print (height_series)

a    143.73
b    145.83
c    143.68
d    144.02
e    143.50
f    142.62
dtype: float64

**12.** Or we can change the indices of an existing Series:

In [ ]:
s.index = [6,5,4,3,2,1]
print (s)

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64

**My code:**

In [ ]:
height_series.index = [6,5,4,3,2,1]
print (height_series)

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64

**13.** Series is like a list since it can be sliced by index:

In [ ]:
print (s[1:])
print (s[:-2])

5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64
6    143.73
5    145.83
4    143.68
3    144.02
dtype: float64

**My date:**

In [ ]:
print (height_series[1:])
print (height_series[:-2])

5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64
6    143.73
5    145.83
4    143.68
3    144.02
dtype: float64

**14.** Series is also like a dictionary whose values can be set or fetched by index label:

In [ ]:
print (s[4])
s[4] = 0
print (s)

143.68
6    143.73
5    145.83
4      0.00
3    144.02
2    143.50
1    142.62
dtype: float64

**My code:**

In [ ]:
print (height_series[4])
height_series[4] = 0
print (height_series)

143.68
6    143.73
5    145.83
4      0.00
3    144.02
2    143.50
1    142.62
dtype: float64

**15.** Series can also have a name attribute, which will be used when we make up a Pandas DataFrame using several series.

In [ ]:
s = pd.Series(price, name = 'Apple Prices')
print (s)
print (s.name)

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
Name: Apple Prices, dtype: float64
Apple Prices

**My code:**

In [ ]:
height_series = pd.Series(height_series, name = "UNAL Student's Heights")
print (height_series)
print (height_series.name)

6    143.73
5    145.83
4      0.00
3    144.02
2    143.50
1    142.62
Name: UNAL Student's Heights, dtype: float64
UNAL Student's Heights

**16.** We can get the statistical summaries of a Series:

In [ ]:
print (s.describe())

count      6.000000
mean     143.896667
std        1.059711
min      142.620000
25%      143.545000
50%      143.705000
75%      143.947500
max      145.830000
Name: Apple Prices, dtype: float64

**My code:**

In [ ]:
print (height_series.describe())

count      6.000000
mean     119.950000
std       58.772717
min        0.000000
25%      142.840000
50%      143.615000
75%      143.947500
max      145.830000
Name: UNAL Student's Heights, dtype: float64

**17.** **Time Index**

Pandas has a built-in function specifically for creating date indices: pd.date_range(). We use it to create a new index for our Series:

In [ ]:
time_index = pd.date_range('2017-01-01', periods = len(s), freq = 'D')
print (time_index)
s.index = time_index
print (s)

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06'],
              dtype='datetime64[ns]', freq='D')
2017-01-01    143.73
2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
2017-01-06    142.62
Freq: D, Name: Apple Prices, dtype: float64

**My code:**

In [ ]:
indexes = pd.date_range('2017-01-01', periods = len(s), freq = 'Y')
print (indexes)
height_series.index = indexes
print (height_series)

DatetimeIndex(['2017-12-31', '2018-12-31', '2019-12-31', '2020-12-31',
               '2021-12-31', '2022-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')
2017-12-31    143.73
2018-12-31    145.83
2019-12-31      0.00
2020-12-31    144.02
2021-12-31    143.50
2022-12-31    142.62
Freq: A-DEC, Name: UNAL Student's Heights, dtype: float64

**18.** Series are usually accessed using the iloc[] and loc[] methods. iloc[] is used to access elements by integer index, and loc[] is used to access the index of the series.

iloc[] is necessary when the index of a series are integers, take our previous defined series as example:

In [ ]:
s.index = [6,5,4,3,2,1]
print (s)
print (s[1])

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
Name: Apple Prices, dtype: float64
142.62

**My code:**

In [ ]:
height_series.index = [6,5,4,3,2,1]
print (height_series)
print (height_series[2])

6    143.73
5    145.83
4      0.00
3    144.02
2    143.50
1    142.62
Name: UNAL Student's Heights, dtype: float64
143.5

**19.** If we intended to take the second element of the series, we would make a mistake here, because the index are integers. In order to access to the element we want, we use iloc[] here:

In [ ]:
print (s.iloc[1])

145.83

**My code:**

In [ ]:
print (height_series.iloc[2])

0.0

**20.** While working with time series data, we often use time as the index. Pandas provides us with various methods to access the data by time index.

In [ ]:
s.index = time_index
print (s['2017-01-03'])

143.68

**My code:**

In [ ]:
height_series.index = indexes
print (height_series['2017-12-31'])

143.73

**21.** We can even access to a range of dates:

In [ ]:
print (s['2017-01-02':'2017-01-05'])

2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
Freq: D, Name: Apple Prices, dtype: float64

**My code:**

In [ ]:
print (height_series['2017-12-31':'2019-12-31'])

2017-12-31    143.73
2018-12-31    145.83
2019-12-31    143.68
Freq: A-DEC, Name: UNAL Student's Heights, dtype: float64

**22.** Series[] provides us a very flexible way to index data. We can add any condition in the square brackets:

In [ ]:
print (s[s < np.mean(s)])
print (s[(s > np.mean(s)) & (s < np.mean(s) + 1.64*np.std(s))])

2017-01-01    143.73
2017-01-03    143.68
2017-01-05    143.50
2017-01-06    142.62
Name: Apple Prices, dtype: float64
2017-01-04    144.02
Freq: D, Name: Apple Prices, dtype: float64

**My code:**

In [ ]:
print (height_series[height_series < nump.mean(s)])
print (height_series[(height_series > nump.mean(height_series)) & (height_series < nump.mean(height_series) + 1.64*nump.std(height_series))])

2017-12-31    143.73
2019-12-31    143.68
2021-12-31    143.50
2022-12-31    142.62
Name: UNAL Student's Heights, dtype: float64
2020-12-31    144.02
Freq: A-DEC, Name: UNAL Student's Heights, dtype: float64

As demonstrated, we can use logical operators like & (and), | (or) and ~ (not) to group multiple conditions.


## **Pandas-Resampling and DataFrame (Tutorial#5)**

**Introduction**

In the last chapter we had a glimpse of Pandas. In this chapter we will learn about resampling methods and the DataFrame object, which is a powerful tool for financial data analysis.

**Fetching Data**

Here we use the Yahoo Finance to retrieve data.

In [29]:
!pip install yfinance

Collecting yfinance
  Downloading yfinance-0.1.64.tar.gz (26 kB)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.9)
Collecting lxml>=4.5.1
  Downloading lxml-4.6.3-cp37-cp37m-manylinux2014_x86_64.whl (6.3 MB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 6.3 MB 18.4 MB/s
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2021.5.30)
Building wheels for collected packages: yfinance
  Building wheel for yfinance (setup.py) ... done
  Created wheel for yfinance: filename=yfinance-0.1.64-py2.py3-none-any.whl size=24109 sha256=a369ce22901ca7178e89ff4bb08e0b7b82438548373653305e20bd0d606d96ab
  Stored in directory: /root/.cache/pip/wheels/86/fe/9b/a4d3d78796b699e37065e5b6c27b75cff448ddb8b24943c288
Successfully built yfinance
Installing collected packages: lxml, yfinance
  Attempting uninstall: lxml
    Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
Successfully installed lxml-4.6.3 yfinance-0.1.64

In [30]:
import yfinance as yf

aapl = yf.Ticker("AAPL")

# get stock info
print(aapl.info)

# get historical market data
aapl_table = aapl.history(start="2016-01-01",  end="2017-12-31")
aapl_table

{'zip': '95014', 'sector': 'Technology', 'fullTimeEmployees': 147000, 'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. It also sells various related services. The company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, HomePod, iPod touch, and other Apple-branded and third-party accessories. It also provides AppleCare support services; cloud services store services; and operates various platforms, including the App Store, that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. In addition, the company offers various services, such as Apple Arcade, a game subscription service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It sells and delivers third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was founded in 1977 and is headquartered in Cupertino, California.', 'city': 'Cupertino', 'phone': '408-996-1010', 'state': 'CA', 'country': 'United States', 'companyOfficers': [], 'website': 'http://www.apple.com', 'maxAge': 1, 'address1': 'One Apple Park Way', 'industry': 'Consumer Electronics', 'ebitdaMargins': 0.31955, 'profitMargins': 0.25004, 'grossMargins': 0.41005, 'operatingCashflow': 104414003200, 'revenueGrowth': 0.364, 'operatingMargins': 0.28788, 'ebitda': 110934999040, 'targetLowPrice': 132, 'recommendationKey': 'buy', 'grossProfits': 104956000000, 'freeCashflow': 80625876992, 'targetMedianPrice': 170, 'currentPrice': 148.69, 'earningsGrowth': 1, 'currentRatio': 1.062, 'returnOnAssets': 0.19302, 'numberOfAnalystOpinions': 40, 'targetMeanPrice': 168.89, 'debtToEquity': 210.782, 'returnOnEquity': 1.27125, 'targetHighPrice': 190, 'totalCash': 61696000000, 'totalDebt': 135491002368, 'totalRevenue': 347155005440, 'totalCashPerShare': 3.732, 'financialCurrency': 'USD', 'revenuePerShare': 20.61, 'quickRatio': 0.887, 'recommendationMean': 1.8, 'exchange': 'NMS', 'shortName': 'Apple Inc.', 'longName': 'Apple Inc.', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EDT', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '-14400000', 'quoteType': 'EQUITY', 'symbol': 'AAPL', 'messageBoardId': 'finmb_24937', 'market': 'us_market', 'annualHoldingsTurnover': None, 'enterpriseToRevenue': 7.293, 'beta3Year': None, 'enterpriseToEbitda': 22.821, '52WeekChange': 0.29239464, 'morningStarRiskRating': None, 'forwardEps': 5.68, 'revenueQuarterlyGrowth': None, 'sharesOutstanding': 16530199552, 'fundInceptionDate': None, 'annualReportExpenseRatio': None, 'totalAssets': None, 'bookValue': 3.882, 'sharesShort': 101107412, 'sharesPercentSharesOut': 0.0061000003, 'fundFamily': None, 'lastFiscalYearEnd': 1601078400, 'heldPercentInstitutions': 0.58671004, 'netIncomeToCommon': 86801997824, 'trailingEps': 5.108, 'lastDividendValue': 0.22, 'SandP52WeekChange': 0.33635402, 'priceToBook': 38.30242, 'heldPercentInsiders': 0.00072999997, 'nextFiscalYearEnd': 1664150400, 'yield': None, 'mostRecentQuarter': 1624665600, 'shortRatio': 1.18, 'sharesShortPreviousMonthDate': 1630368000, 'floatShares': 16513139929, 'beta': 1.222222, 'enterpriseValue': 2531665379328, 'priceHint': 2, 'threeYearAverageReturn': None, 'lastSplitDate': 1598832000, 'lastSplitFactor': '4:1', 'legalType': None, 'lastDividendDate': 1628208000, 'morningStarOverallRating': None, 'earningsQuarterlyGrowth': 0.932, 'priceToSalesTrailing12Months': 7.080052, 'dateShortInterest': 1632960000, 'pegRatio': 1.34, 'ytdReturn': None, 'forwardPE': 26.177818, 'lastCapGain': None, 'shortPercentOfFloat': 0.0061000003, 'sharesShortPriorMonth': 96838699, 'impliedSharesOutstanding': None, 'category': None, 'fiveYearAverageReturn': None, 'previousClose': 149.48, 'regularMarketOpen': 149.69, 'twoHundredDayAverage': 139.49467, 'trailingAnnualDividendYield': 0.005586032, 'payoutRatio': 0.16309999, 'volume24Hr': None, 'regularMarketDayHigh': 150.18, 'navPrice': None, 'averageDailyVolume10Day': 68088783, 'regularMarketPreviousClose': 149.48, 'fiftyDayAverage': 145.9303, 'trailingAnnualDividendRate': 0.835, 'open': 149.69, 'toCurrency': None, 'averageVolume10days': 68088783, 'expireDate': None, 'algorithm': None, 'dividendRate': 0.88, 'exDividendDate': 1628208000, 'circulatingSupply': None, 'startDate': None, 'regularMarketDayLow': 148.64, 'currency': 'USD', 'trailingPE': 29.109241, 'regularMarketVolume': 58883443, 'lastMarket': None, 'maxSupply': None, 'openInterest': None, 'marketCap': 2457875513344, 'volumeAllCurrencies': None, 'strikePrice': None, 'averageVolume': 75838454, 'dayLow': 148.64, 'ask': 0, 'askSize': 3200, 'volume': 58883443, 'fiftyTwoWeekHigh': 157.26, 'fromCurrency': None, 'fiveYearAvgDividendYield': 1.24, 'fiftyTwoWeekLow': 107.32, 'bid': 0, 'tradeable': False, 'dividendYield': 0.0058999998, 'bidSize': 2900, 'dayHigh': 150.18, 'regularMarketPrice': 148.69, 'preMarketPrice': None, 'logo_url': 'https://logo.clearbit.com/apple.com'}

                 Open       High        Low  ...     Volume  Dividends  Stock Splits
Date                                         ...
2016-01-04  23.655161  24.291437  23.514534  ...  270597600        0.0             0
2016-01-05  24.379047  24.402100  23.609061  ...  223164000        0.0             0
2016-01-06  23.182565  23.599834  23.023498  ...  273829600        0.0             0
2016-01-07  22.749164  23.083439  22.230461  ...  324377600        0.0             0
2016-01-08  22.719197  22.848296  22.306540  ...  283192000        0.0             0
...               ...        ...        ...  ...        ...        ...           ...
2017-12-22  41.827756  42.004953  41.784656  ...   65397600        0.0             0
2017-12-26  40.898675  41.059108  40.630484  ...  132742000        0.0             0
2017-12-27  40.731061  40.893888  40.637675  ...   85992800        0.0             0
2017-12-28  40.946568  41.150105  40.822051  ...   65920800        0.0             0
2017-12-29  40.831621  40.848381  40.520331  ...  103999600        0.0             0

[503 rows x 7 columns]

In [31]:
tsla = yf.Ticker("TSLA")

# get stock info
print(tsla.info)

# get historical market data
tsla_table = tsla.history(start="2016-01-01",  end="2017-12-31")
tsla_table

{'zip': '94304', 'sector': 'Consumer Cyclical', 'fullTimeEmployees': 70757, 'longBusinessSummary': 'Tesla, Inc. designs, develops, manufactures, leases, and sells electric vehicles, and energy generation and storage systems in the United States, China, and internationally. The company operates in two segments, Automotive, and Energy Generation and Storage. The Automotive segment offers electric vehicles, as well as sells automotive regulatory credits. It provides sedans and sport utility vehicles through direct and used vehicle sales, a network of Tesla Superchargers, and in-app upgrades; and purchase financing and leasing services. This segment is also involved in the provision of non-warranty after-sales vehicle services, sale of used vehicles, retail merchandise, and vehicle insurance, as well as sale of products through its subsidiaries to third party customers; services for electric vehicles through its company-owned service locations, and Tesla mobile service technicians; and vehicle limited warranties and extended service plans. The Energy Generation and Storage segment engages in the design, manufacture, installation, sale, and leasing of solar energy generation and energy storage products, and related services to residential, commercial, and industrial customers and utilities through its website, stores, and galleries, as well as through a network of channel partners. This segment also offers service and repairs to its energy product customers, including under warranty; and various financing options to its solar customers. The company was formerly known as Tesla Motors, Inc. and changed its name to Tesla, Inc. in February 2017. Tesla, Inc. was founded in 2003 and is headquartered in Palo Alto, California.', 'city': 'Palo Alto', 'phone': '650-681-5000', 'state': 'CA', 'country': 'United States', 'companyOfficers': [], 'website': 'http://www.tesla.com', 'maxAge': 1, 'address1': '3500 Deer Creek Road', 'industry': 'Auto Manufacturers', 'ebitdaMargins': 0.15296, 'profitMargins': 0.07403, 'grossMargins': 0.23107, 'operatingCashflow': 9930999808, 'revenueGrowth': 0.568, 'operatingMargins': 0.095740005, 'ebitda': 7166000128, 'targetLowPrice': 67, 'recommendationKey': 'hold', 'grossProfits': 6630000000, 'freeCashflow': 4873874944, 'targetMedianPrice': 788, 'currentPrice': 909.68, 'earningsGrowth': 4.333, 'currentRatio': 1.385, 'returnOnAssets': 0.05415, 'numberOfAnalystOpinions': 37, 'targetMeanPrice': 732.87, 'debtToEquity': 28.616, 'returnOnEquity': 0.15641, 'targetHighPrice': 1206, 'totalCash': 16094999552, 'totalDebt': 8153999872, 'totalRevenue': 46848000000, 'totalCashPerShare': 16.127, 'financialCurrency': 'USD', 'revenuePerShare': 48.284, 'quickRatio': 1, 'recommendationMean': 2.7, 'exchange': 'NMS', 'shortName': 'Tesla, Inc.', 'longName': 'Tesla, Inc.', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EDT', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '-14400000', 'quoteType': 'EQUITY', 'symbol': 'TSLA', 'messageBoardId': 'finmb_27444752', 'market': 'us_market', 'annualHoldingsTurnover': None, 'enterpriseToRevenue': 19.24, 'beta3Year': None, 'enterpriseToEbitda': 125.783, '52WeekChange': 1.1644619, 'morningStarRiskRating': None, 'forwardEps': 7.77, 'revenueQuarterlyGrowth': None, 'sharesOutstanding': 1001769984, 'fundInceptionDate': None, 'annualReportExpenseRatio': None, 'totalAssets': None, 'bookValue': 27.107, 'sharesShort': 29205723, 'sharesPercentSharesOut': 0.0292, 'fundFamily': None, 'lastFiscalYearEnd': 1609372800, 'heldPercentInstitutions': 0.41233003, 'netIncomeToCommon': 3468000000, 'trailingEps': 3.071, 'lastDividendValue': None, 'SandP52WeekChange': 0.33635402, 'priceToBook': 33.558857, 'heldPercentInsiders': 0.18962, 'nextFiscalYearEnd': 1672444800, 'yield': None, 'mostRecentQuarter': 1632960000, 'shortRatio': 1.56, 'sharesShortPreviousMonthDate': 1630368000, 'floatShares': 808200360, 'beta': 1.89365, 'enterpriseValue': 901360648192, 'priceHint': 2, 'threeYearAverageReturn': None, 'lastSplitDate': 1598832000, 'lastSplitFactor': '5:1', 'legalType': None, 'lastDividendDate': None, 'morningStarOverallRating': None, 'earningsQuarterlyGrowth': 3.888, 'priceToSalesTrailing12Months': 19.45206, 'dateShortInterest': 1632960000, 'pegRatio': 2.09, 'ytdReturn': None, 'forwardPE': 117.075935, 'lastCapGain': None, 'shortPercentOfFloat': 0.0359, 'sharesShortPriorMonth': 27432219, 'impliedSharesOutstanding': None, 'category': None, 'fiveYearAverageReturn': None, 'previousClose': 894, 'regularMarketOpen': 895.5, 'twoHundredDayAverage': 695.5194, 'trailingAnnualDividendYield': None, 'payoutRatio': 0, 'volume24Hr': None, 'regularMarketDayHigh': 910, 'navPrice': None, 'averageDailyVolume10Day': 21459450, 'regularMarketPreviousClose': 894, 'fiftyDayAverage': 788.4144, 'trailingAnnualDividendRate': None, 'open': 895.5, 'toCurrency': None, 'averageVolume10days': 21459450, 'expireDate': None, 'algorithm': None, 'dividendRate': None, 'exDividendDate': None, 'circulatingSupply': None, 'startDate': None, 'regularMarketDayLow': 891, 'currency': 'USD', 'trailingPE': 296.21622, 'regularMarketVolume': 22880835, 'lastMarket': None, 'maxSupply': None, 'openInterest': None, 'marketCap': 911290138624, 'volumeAllCurrencies': None, 'strikePrice': None, 'averageVolume': 18956218, 'dayLow': 891, 'ask': 0, 'askSize': 1400, 'volume': 22880835, 'fiftyTwoWeekHigh': 910, 'fromCurrency': None, 'fiveYearAvgDividendYield': None, 'fiftyTwoWeekLow': 379.11, 'bid': 0, 'tradeable': False, 'dividendYield': None, 'bidSize': 1200, 'dayHigh': 910, 'regularMarketPrice': 909.68, 'preMarketPrice': None, 'logo_url': 'https://logo.clearbit.com/tesla.com'}

                 Open       High        Low  ...    Volume  Dividends  Stock Splits
Date                                         ...
2016-01-04  46.144001  46.276001  43.799999  ...  34135500          0             0
2016-01-05  45.271999  45.377998  44.000000  ...  15934000          0             0
2016-01-06  44.000000  44.009998  43.195999  ...  18895500          0             0
2016-01-07  42.838001  43.688000  42.734001  ...  17771500          0             0
2016-01-08  43.571999  44.088001  42.153999  ...  18140500          0             0
...               ...        ...        ...  ...       ...        ...           ...
2017-12-22  65.902000  66.183998  64.963997  ...  21079000          0             0
2017-12-26  64.765999  64.788002  63.316002  ...  21892000          0             0
2017-12-27  63.200001  63.535999  62.150002  ...  23560500          0             0
2017-12-28  62.349998  63.164001  61.908001  ...  21581500          0             0
2017-12-29  63.236000  63.282001  62.000000  ...  18886000          0             0

[503 rows x 7 columns]

We will create a Series named "aapl" whose values are Apple's daily closing prices, which are of course indexed by dates:

In [32]:
aapl = aapl_table['Close']['2017']

In [33]:
tsla = tsla_table['Close']['2017']

In [34]:
print(aapl)

Date
2017-01-03    27.372362
2017-01-04    27.341724
2017-01-05    27.480766
2017-01-06    27.787130
2017-01-09    28.041643
                ...
2017-12-22    41.906776
2017-12-26    40.843601
2017-12-27    40.850788
2017-12-28    40.965725
2017-12-29    40.522724
Name: Close, Length: 251, dtype: float64

In [35]:
print(tsla)

Date
2017-01-03    43.397999
2017-01-04    45.397999
2017-01-05    45.349998
2017-01-06    45.801998
2017-01-09    46.256001
                ...
2017-12-22    65.040001
2017-12-26    63.458000
2017-12-27    62.327999
2017-12-28    63.071999
2017-12-29    62.270000
Name: Close, Length: 251, dtype: float64

Recall that we can fetch a specific data point using series['yyyy-mm-dd']. We can also fetch the data in a specific month using series['yyyy-mm'].

In [36]:
print(aapl['2017-3'])

Date
2017-03-01    33.086281
2017-03-02    32.889828
2017-03-03    33.083927
2017-03-06    32.979778
2017-03-07    33.022377
2017-03-08    32.899303
2017-03-09    32.823559
2017-03-10    32.932442
2017-03-13    32.946632
2017-03-14    32.896938
2017-03-15    33.244873
2017-03-16    33.299309
2017-03-17    33.133625
2017-03-20    33.481548
2017-03-21    33.098110
2017-03-22    33.472088
2017-03-23    33.353741
2017-03-24    33.287476
2017-03-27    33.344273
2017-03-28    34.035393
2017-03-29    34.111134
2017-03-30    34.066158
2017-03-31    34.002258
Name: Close, dtype: float64

In [37]:
print(tsla['2017-3'])

Date
2017-03-01    50.004002
2017-03-02    50.096001
2017-03-03    50.313999
2017-03-06    50.242001
2017-03-07    49.717999
2017-03-08    49.374001
2017-03-09    48.980000
2017-03-10    48.737999
2017-03-13    49.234001
2017-03-14    51.599998
2017-03-15    51.146000
2017-03-16    52.410000
2017-03-17    52.299999
2017-03-20    52.383999
2017-03-21    50.136002
2017-03-22    51.001999
2017-03-23    50.956001
2017-03-24    52.632000
2017-03-27    54.043999
2017-03-28    55.490002
2017-03-29    55.476002
2017-03-30    55.584000
2017-03-31    55.660000
Name: Close, dtype: float64

In [38]:
aapl['2017-2':'2017-4']

Date
2017-02-01    30.341730
2017-02-02    30.289883
2017-02-03    30.419495
2017-02-06    30.704651
2017-02-07    30.996880
                ...
2017-04-24    33.997520
2017-04-25    34.208172
2017-04-26    34.006992
2017-04-27    34.033028
2017-04-28    33.999897
Name: Close, Length: 61, dtype: float64

In [39]:
tsla['2017-2':'2017-4']

Date
2017-02-01    49.848000
2017-02-02    50.310001
2017-02-03    50.265999
2017-02-06    51.554001
2017-02-07    51.495998
                ...
2017-04-24    61.605999
2017-04-25    62.757999
2017-04-26    62.034000
2017-04-27    61.726002
2017-04-28    62.813999
Name: Close, Length: 61, dtype: float64

.head(N) and .tail(N) are methods for quickly accessing the first or last N elements.

In [40]:
print(aapl.head(5))
print(aapl.tail(10))

Date
2017-01-03    27.372362
2017-01-04    27.341724
2017-01-05    27.480766
2017-01-06    27.787130
2017-01-09    28.041643
Name: Close, dtype: float64
Date
2017-12-15    41.657749
2017-12-18    42.244400
2017-12-19    41.794228
2017-12-20    41.748730
2017-12-21    41.906776
2017-12-22    41.906776
2017-12-26    40.843601
2017-12-27    40.850788
2017-12-28    40.965725
2017-12-29    40.522724
Name: Close, dtype: float64

In [41]:
print(tsla.head(5))
print(tsla.tail(10))

Date
2017-01-03    43.397999
2017-01-04    45.397999
2017-01-05    45.349998
2017-01-06    45.801998
2017-01-09    46.256001
Name: Close, dtype: float64
Date
2017-12-15    68.690002
2017-12-18    67.774002
2017-12-19    66.220001
2017-12-20    65.795998
2017-12-21    66.332001
2017-12-22    65.040001
2017-12-26    63.458000
2017-12-27    62.327999
2017-12-28    63.071999
2017-12-29    62.270000
Name: Close, dtype: float64

**Resampling**

**_series.resample(freq)_** is a class called "DatetimeIndexResampler" which groups data in a Series object into regular time intervals. The argument "freq" determines the length of each interval.

**_series.resample.mean()_** is a complete statement that groups data into intervals, and then compute the mean of each interval. For example, if we want to aggregate the daily data into monthly data by mean:

In [42]:
by_month = aapl.resample('M').mean()
print(by_month)

Date
2017-01-31    28.178331
2017-02-28    31.606277
2017-03-31    33.282220
2017-04-30    33.819262
2017-05-31    36.125684
2017-06-30    35.133982
2017-07-31    35.245242
2017-08-31    37.897229
2017-09-30    37.604738
2017-10-31    37.654551
2017-11-30    41.233915
2017-12-31    41.160039
Freq: M, Name: Close, dtype: float64

In [43]:
by_month = tsla.resample('M').mean()
print(by_month)

Date
2017-01-31    47.864100
2017-02-28    52.742211
2017-03-31    51.631304
2017-04-30    60.951684
2017-05-31    63.304818
2017-06-30    73.160727
2017-07-31    65.761000
2017-08-31    70.175044
2017-09-30    71.571400
2017-10-31    68.936636
2017-11-30    62.038381
2017-12-31    64.568200
Freq: M, Name: Close, dtype: float64

We can also aggregate the data by week:

In [44]:
by_week = aapl.resample('W').mean()
print(by_week.head())

Date
2017-01-08    27.495496
2017-01-15    28.097733
2017-01-22    28.266118
2017-01-29    28.553979
2017-02-05    29.662543
Freq: W-SUN, Name: Close, dtype: float64

In [45]:
by_week = tsla.resample('W').mean()
print(by_week.head())

Date
2017-01-08    44.986999
2017-01-15    46.328799
2017-01-22    48.121500
2017-01-29    50.538400
2017-02-05    50.187200
Freq: W-SUN, Name: Close, dtype: float64

We can also aggregate the data by month with max:

In [46]:
aapl.resample('M').max()

Date
2017-01-31    28.739210
2017-02-28    32.451973
2017-03-31    34.111134
2017-04-30    34.264988
2017-05-31    37.099133
2017-06-30    36.944653
2017-07-31    36.471699
2017-08-31    39.129723
2017-09-30    39.141647
2017-10-31    40.332245
2017-11-30    42.050140
2017-12-31    42.244400
Freq: M, Name: Close, dtype: float64

In [47]:
tsla.resample('M').max()

Date
2017-01-31    50.922001
2017-02-28    56.195999
2017-03-31    55.660000
2017-04-30    62.813999
2017-05-31    68.202003
2017-06-30    76.690002
2017-07-31    70.524002
2017-08-31    73.043999
2017-09-30    77.000000
2017-10-31    71.930000
2017-11-30    64.216003
2017-12-31    68.690002
Freq: M, Name: Close, dtype: float64

We can choose almost any frequency by using the format 'nf', where 'n' is an integer and 'f' is M for month, W for week and D for day.

In [48]:
three_day = aapl.resample('3D').mean()
two_week = aapl.resample('2W').mean()
two_month = aapl.resample('2M').mean()


print(three_day)
print(two_week)
print(two_month )

Date
2017-01-03    27.398284
2017-01-06    27.787130
2017-01-09    28.110773
2017-01-12    28.078174
2017-01-15    28.279669
                ...
2017-12-17    42.019314
2017-12-20    41.854094
2017-12-23          NaN
2017-12-26    40.886705
2017-12-29    40.522724
Freq: 3D, Name: Close, Length: 121, dtype: float64
Date
2017-01-08    27.495496
2017-01-22    28.172571
2017-02-05    29.108261
2017-02-19    31.516818
2017-03-05    32.595558
2017-03-19    33.017884
2017-04-02    33.625218
2017-04-16    33.849727
2017-04-30    33.791844
2017-05-14    35.697633
2017-05-28    36.496176
2017-06-11    36.515005
2017-06-25    34.529044
2017-07-09    34.265133
2017-07-23    35.278872
2017-08-06    36.272774
2017-08-20    37.904119
2017-09-03    38.458794
2017-09-17    38.282709
2017-10-01    36.840873
2017-10-15    37.071595
2017-10-29    37.757322
2017-11-12    41.032237
2017-11-26    41.204375
2017-12-10    40.867068
2017-12-24    41.620866
2018-01-07    40.795710
Freq: 2W-SUN, Name: Close, dtype: float64
Date
2017-01-31    28.178331
2017-03-31    32.524055
2017-05-31    35.056854
2017-07-31    35.186963
2017-09-30    37.761187
2017-11-30    39.402612
2018-01-31    41.160039
Freq: 2M, Name: Close, dtype: float64

In [49]:
three_day = tsla.resample('3D').mean()
two_week = tsla.resample('2W').mean()
two_month = tsla.resample('2M').mean()


print(three_day)
print(two_week)
print(two_month )

Date
2017-01-03    44.715332
2017-01-06    45.801998
2017-01-09    46.058666
2017-01-12    46.733999
2017-01-15    47.116001
                ...
2017-12-17    66.997002
2017-12-20    65.722666
2017-12-23          NaN
2017-12-26    62.952666
2017-12-29    62.270000
Freq: 3D, Name: Close, Length: 121, dtype: float64
Date
2017-01-08    44.986999
2017-01-22    47.125555
2017-02-05    50.362800
2017-02-19    53.965600
2017-03-05    51.381778
2017-03-19    50.374200
2017-04-02    53.336400
2017-04-16    60.453334
2017-04-30    61.400200
2017-05-14    63.162600
2017-05-28    62.585800
2017-06-11    69.854888
2017-06-25    74.937201
2017-07-09    69.671556
2017-07-23    65.107401
2017-08-06    67.368600
2017-08-20    71.712200
2017-09-03    69.809200
2017-09-17    71.961111
2017-10-01    71.269800
2017-10-15    70.425399
2017-10-29    68.203001
2017-11-12    61.944800
2017-11-26    62.614445
2017-12-10    62.116200
2017-12-24    66.922401
2018-01-07    62.782000
Freq: 2W-SUN, Name: Close, dtype: float64
Date
2017-01-31    47.864100
2017-03-31    52.133857
2017-05-31    62.214341
2017-07-31    69.637048
2017-09-30    70.824512
2017-11-30    65.567721
2018-01-31    64.568200
Freq: 2M, Name: Close, dtype: float64

Besides the mean() method, other methods can also be used with the resampler:

In [50]:
std = aapl.resample('W').std()
max = aapl.resample('W').max()
min = aapl.resample('W').min()


print(std)
print(max)
print(min)

Date
2017-01-08    0.203368
2017-01-15    0.072529
2017-01-22    0.025555
2017-01-29    0.245284
2017-02-05    0.943262
2017-02-12    0.251999
2017-02-19    0.231390
2017-02-26    0.059348
2017-03-05    0.340090
2017-03-12    0.076286
2017-03-19    0.177839
2017-03-26    0.157267
2017-04-02    0.319807
2017-04-09    0.128693
2017-04-16    0.212479
2017-04-23    0.174670
2017-04-30    0.090023
2017-05-07    0.235639
2017-05-14    0.352978
2017-05-21    0.536095
2017-05-28    0.060392
2017-06-04    0.281225
2017-06-11    0.620033
2017-06-18    0.382570
2017-06-25    0.128892
2017-07-02    0.264107
2017-07-09    0.158892
2017-07-16    0.404287
2017-07-23    0.124991
2017-07-30    0.384441
2017-08-06    0.924392
2017-08-13    0.467468
2017-08-20    0.435256
2017-08-27    0.275768
2017-09-03    0.251723
2017-09-10    0.381635
2017-09-17    0.294143
2017-09-24    0.735194
2017-10-01    0.354844
2017-10-08    0.204858
2017-10-15    0.118728
2017-10-22    0.516995
2017-10-29    0.680460
2017-11-05    0.560685
2017-11-12    0.190971
2017-11-19    0.436201
2017-11-26    0.563047
2017-12-03    0.427442
2017-12-10    0.073129
2017-12-17    0.205268
2017-12-24    0.194124
2017-12-31    0.190397
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    27.787130
2017-01-15    28.220749
2017-01-22    28.279669
2017-01-29    28.739210
2017-02-05    30.419495
2017-02-12    31.341911
2017-02-19    32.122971
2017-02-26    32.451973
2017-03-05    33.086281
2017-03-12    33.022377
2017-03-19    33.299309
2017-03-26    33.481548
2017-04-02    34.111134
2017-04-09    34.264988
2017-04-16    33.886284
2017-04-23    33.713497
2017-04-30    34.208172
2017-05-07    35.256691
2017-05-14    37.099133
2017-05-21    37.004066
2017-05-28    36.597660
2017-06-04    36.944653
2017-06-11    36.925629
2017-06-18    34.838966
2017-06-25    34.779541
2017-07-02    34.658333
2017-07-09    34.266186
2017-07-16    35.421242
2017-07-23    35.891804
2017-07-30    36.471699
2017-08-06    37.346294
2017-08-13    38.277935
2017-08-20    38.557102
2017-08-27    38.170574
2017-09-03    39.141647
2017-09-10    38.671623
2017-09-17    38.533241
2017-09-24    37.872318
2017-10-01    36.798641
2017-10-08    37.075420
2017-10-15    37.457161
2017-10-22    38.287476
2017-10-29    38.903069
2017-11-05    41.157791
2017-11-12    42.050140
2017-11-19    41.657749
2017-11-26    41.897190
2017-12-03    41.686474
2017-12-10    40.659225
2017-12-17    41.657749
2017-12-24    42.244400
2017-12-31    40.965725
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    27.341724
2017-01-15    28.041643
2017-01-22    28.227821
2017-01-29    28.272598
2017-02-05    28.597809
2017-02-12    30.704651
2017-02-19    31.547831
2017-02-26    32.314686
2017-03-05    32.409363
2017-03-12    32.823559
2017-03-19    32.896938
2017-03-26    33.098110
2017-04-02    33.344273
2017-04-09    33.926514
2017-04-16    33.384502
2017-04-23    33.296936
2017-04-30    33.997520
2017-05-07    34.681541
2017-05-14    36.215275
2017-05-21    35.708801
2017-05-28    36.443172
2017-06-04    36.305336
2017-06-11    35.406971
2017-06-18    33.812252
2017-06-25    34.463448
2017-07-02    34.147358
2017-07-09    33.921574
2017-07-16    34.475334
2017-07-23    35.544807
2017-07-30    35.530556
2017-08-06    35.347553
2017-08-13    37.058712
2017-08-20    37.578842
2017-08-27    37.509659
2017-09-03    38.526077
2017-09-10    37.848473
2017-09-17    37.764950
2017-09-24    36.240326
2017-10-01    35.920612
2017-10-08    36.619690
2017-10-15    37.182785
2017-10-22    37.216187
2017-10-29    37.261517
2017-11-05    39.778706
2017-11-12    41.575325
2017-11-19    40.486813
2017-11-26    40.702316
2017-12-03    40.582600
2017-12-10    40.470055
2017-12-17    41.114178
2017-12-24    41.748730
2017-12-31    40.522724
Freq: W-SUN, Name: Close, dtype: float64

In [51]:
std = tsla.resample('W').std()
max = tsla.resample('W').max()
min = tsla.resample('W').min()


print(std)
print(max)
print(min)

Date
2017-01-08    1.078554
2017-01-15    0.696025
2017-01-22    0.873767
2017-01-29    0.460084
2017-02-05    0.211904
2017-02-12    1.165363
2017-02-19    1.107895
2017-02-26    2.213079
2017-03-05    0.404029
2017-03-12    0.596839
2017-03-19    1.285199
2017-03-26    1.053196
2017-04-02    0.678743
2017-04-09    0.696762
2017-04-16    1.341745
2017-04-23    0.482972
2017-04-30    0.568475
2017-05-07    2.121875
2017-05-14    1.500596
2017-05-21    0.869877
2017-05-28    1.612288
2017-06-04    0.539413
2017-06-11    1.691550
2017-06-18    1.642376
2017-06-25    1.216070
2017-07-02    1.473415
2017-07-09    3.944103
2017-07-16    1.074755
2017-07-23    0.822497
2017-07-30    0.850172
2017-08-06    3.285388
2017-08-13    0.933574
2017-08-20    1.496851
2017-08-27    1.357167
2017-09-03    0.941475
2017-09-10    0.719231
2017-09-17    1.616149
2017-09-24    2.521461
2017-10-01    0.513848
2017-10-08    1.290541
2017-10-15    1.114371
2017-10-22    1.097715
2017-10-29    1.472969
2017-11-05    2.571578
2017-11-12    0.278481
2017-11-19    0.554545
2017-11-26    0.784208
2017-12-03    1.059216
2017-12-10    1.003892
2017-12-17    1.107094
2017-12-24    0.999859
2017-12-31    0.580039
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    45.801998
2017-01-15    47.549999
2017-01-22    48.945999
2017-01-29    50.922001
2017-02-05    50.386002
2017-02-12    53.846001
2017-02-19    56.195999
2017-02-26    55.478001
2017-03-05    50.313999
2017-03-12    50.242001
2017-03-19    52.410000
2017-03-26    52.632000
2017-04-02    55.660000
2017-04-09    60.740002
2017-04-16    62.478001
2017-04-23    61.119999
2017-04-30    62.813999
2017-05-07    64.566002
2017-05-14    65.043999
2017-05-21    63.402000
2017-05-28    65.028000
2017-06-04    68.202003
2017-06-11    74.000000
2017-06-18    76.132004
2017-06-25    76.690002
2017-07-02    75.498001
2017-07-09    70.524002
2017-07-16    65.903999
2017-07-23    65.984001
2017-07-30    68.769997
2017-08-06    71.382004
2017-08-13    73.043999
2017-08-20    72.760002
2017-08-27    70.585999
2017-09-03    71.180000
2017-09-10    70.122002
2017-09-17    75.961998
2017-09-24    77.000000
2017-10-01    69.050003
2017-10-08    71.375999
2017-10-15    71.136002
2017-10-22    71.930000
2017-10-29    67.468002
2017-11-05    66.306000
2017-11-12    61.209999
2017-11-19    63.080002
2017-11-26    63.562000
2017-12-03    63.509998
2017-12-10    63.026001
2017-12-17    68.690002
2017-12-24    67.774002
2017-12-31    63.458000
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    43.397999
2017-01-15    45.917999
2017-01-22    47.116001
2017-01-29    49.784000
2017-02-05    49.848000
2017-02-12    51.495998
2017-02-19    53.790001
2017-02-26    51.198002
2017-03-05    49.245998
2017-03-12    48.737999
2017-03-19    49.234001
2017-03-26    50.136002
2017-04-02    54.043999
2017-04-09    59.000000
2017-04-16    59.368000
2017-04-23    60.049999
2017-04-30    61.605999
2017-05-07    59.091999
2017-05-14    61.438000
2017-05-21    61.222000
2017-05-28    60.771999
2017-06-04    67.019997
2017-06-11    69.463997
2017-06-18    71.802002
2017-06-25    73.959999
2017-07-02    72.150002
2017-07-09    61.765999
2017-07-16    63.209999
2017-07-23    63.914001
2017-07-30    66.891998
2017-08-06    63.914001
2017-08-13    71.033997
2017-08-20    69.491997
2017-08-27    67.571999
2017-09-03    69.132004
2017-09-10    68.680000
2017-09-17    72.550003
2017-09-24    70.218002
2017-10-01    67.919998
2017-10-08    68.306000
2017-10-15    68.587997
2017-10-22    69.019997
2017-10-29    64.174004
2017-11-05    59.852001
2017-11-12    60.556000
2017-11-19    61.740002
2017-11-26    61.748001
2017-12-03    61.306000
2017-12-10    60.740002
2017-12-17    65.781998
2017-12-24    65.040001
2017-12-31    62.270000
Freq: W-SUN, Name: Close, dtype: float64

Often we want to calculate monthly returns of a stock, based on prices on the last day of each month. To fetch those prices, we use the series.resample.agg() method:

In [63]:
last_day = aapl.resample('M').agg(lambda x: x[-1])
print(last_day)

Date
2017-01-31    28.597809
2017-02-28    32.423573
2017-03-31    34.002258
2017-04-30    33.999897
2017-05-31    36.305336
2017-06-30    34.228165
2017-07-31    35.347553
2017-08-31    39.129723
2017-09-30    36.772400
2017-10-31    40.332245
2017-11-30    41.150101
2017-12-31    40.522724
Freq: M, Name: Close, dtype: float64

In [65]:
last_day_tsla = tsla.resample('M').agg(lambda x: x[-1])
print(last_day)

Date
2017-01-31    28.597809
2017-02-28    32.423573
2017-03-31    34.002258
2017-04-30    33.999897
2017-05-31    36.305336
2017-06-30    34.228165
2017-07-31    35.347553
2017-08-31    39.129723
2017-09-30    36.772400
2017-10-31    40.332245
2017-11-30    41.150101
2017-12-31    40.522724
Freq: M, Name: Close, dtype: float64

Or directly calculate the monthly rates of return using the data for the first day and the last day:

In [57]:
monthly_return = aapl.resample('M').agg(lambda x: x[-1]/x[0] - 1)
print(monthly_return)

Date
2017-01-31    0.044769
2017-02-28    0.068613
2017-03-31    0.027685
2017-04-30   -0.000348
2017-05-31    0.046463
2017-06-30   -0.059799
2017-07-31    0.036446
2017-08-31    0.097261
2017-09-30   -0.060530
2017-10-31    0.099018
2017-11-30    0.033422
2017-12-31   -0.010640
Freq: M, Name: Close, dtype: float64

In [58]:
monthly_return_tsla = tsla.resample('M').agg(lambda x: x[-1]/x[0] - 1)
print(monthly_return)

Date
2017-01-31    0.044769
2017-02-28    0.068613
2017-03-31    0.027685
2017-04-30   -0.000348
2017-05-31    0.046463
2017-06-30   -0.059799
2017-07-31    0.036446
2017-08-31    0.097261
2017-09-30   -0.060530
2017-10-31    0.099018
2017-11-30    0.033422
2017-12-31   -0.010640
Freq: M, Name: Close, dtype: float64

Series object also provides us some convenient methods to do some quick calculation.

In [59]:
print(monthly_return.mean())
print(monthly_return.std())
print(monthly_return.max())

0.026863365569092468
0.052258516525277195
0.09901829189254818

In [60]:
print(monthly_return_tsla.mean())
print(monthly_return_tsla.std())
print(monthly_return_tsla.max())

0.03225698313583488
0.07382777139399141
0.1610213136260854

Another two methods frequently used on Series are .diff() and .pct_change(). The former calculates the difference between consecutive elements, and the latter calculates the percentage change.

In [66]:
print(last_day.diff())
print(last_day.pct_change())

Date
2017-01-31         NaN
2017-02-28    3.825764
2017-03-31    1.578686
2017-04-30   -0.002361
2017-05-31    2.305439
2017-06-30   -2.077171
2017-07-31    1.119389
2017-08-31    3.782169
2017-09-30   -2.357323
2017-10-31    3.559845
2017-11-30    0.817856
2017-12-31   -0.627377
Freq: M, Name: Close, dtype: float64
Date
2017-01-31         NaN
2017-02-28    0.133778
2017-03-31    0.048689
2017-04-30   -0.000069
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [67]:
print(last_day_tsla.diff())
print(last_day_tsla.pct_change())

Date
2017-01-31         NaN
2017-02-28   -0.388000
2017-03-31    5.661999
2017-04-30    7.153999
2017-05-31    5.388004
2017-06-30    4.119995
2017-07-31   -7.627998
2017-08-31    6.486000
2017-09-30   -2.959999
2017-10-31   -1.914001
2017-11-30   -4.535999
2017-12-31    0.500000
Freq: M, Name: Close, dtype: float64
Date
2017-01-31         NaN
2017-02-28   -0.007701
2017-03-31    0.113245
2017-04-30    0.128530
2017-05-31    0.085777
2017-06-30    0.060409
2017-07-31   -0.105473
2017-08-31    0.100257
2017-09-30   -0.041585
2017-10-31   -0.028056
2017-11-30   -0.068410
2017-12-31    0.008095
Freq: M, Name: Close, dtype: float64

Notice that we induced a NaN value while calculating percentage changes i.e. returns.

When dealing with NaN values, we usually either removing the data point or fill it with a specific value. Here we fill it with 0:

In [68]:
daily_return = last_day.pct_change()
print(daily_return.fillna(0))

Date
2017-01-31    0.000000
2017-02-28    0.133778
2017-03-31    0.048689
2017-04-30   -0.000069
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [69]:
daily_return_tsla = last_day_tsla.pct_change()
print(daily_return_tsla.fillna(0))

Date
2017-01-31    0.000000
2017-02-28   -0.007701
2017-03-31    0.113245
2017-04-30    0.128530
2017-05-31    0.085777
2017-06-30    0.060409
2017-07-31   -0.105473
2017-08-31    0.100257
2017-09-30   -0.041585
2017-10-31   -0.028056
2017-11-30   -0.068410
2017-12-31    0.008095
Freq: M, Name: Close, dtype: float64

Alternatively, we can fill a NaN with the next fitted value. This is called 'backward fill', or 'bfill' in short:

In [70]:
daily_return = last_day.pct_change()
print(daily_return.fillna(method = 'bfill'))

Date
2017-01-31    0.133778
2017-02-28    0.133778
2017-03-31    0.048689
2017-04-30   -0.000069
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [72]:
daily_return_tsla = last_day_tsla.pct_change()
print(daily_return_tsla.fillna(method = 'bfill'))

Date
2017-01-31   -0.007701
2017-02-28   -0.007701
2017-03-31    0.113245
2017-04-30    0.128530
2017-05-31    0.085777
2017-06-30    0.060409
2017-07-31   -0.105473
2017-08-31    0.100257
2017-09-30   -0.041585
2017-10-31   -0.028056
2017-11-30   -0.068410
2017-12-31    0.008095
Freq: M, Name: Close, dtype: float64

As expected, since there is a 'backward fill' method, there must be a 'forward fill' method, or 'ffill' in short. However we can't use it here because the NaN is the first value.

We can also simply remove NaN values by **_.dropna()_**

In [73]:
daily_return = last_day.pct_change()
daily_return.dropna()

Date
2017-02-28    0.133778
2017-03-31    0.048689
2017-04-30   -0.000069
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [74]:
daily_return_tsla = last_day_tsla.pct_change()
daily_return_tsla.dropna()

Date
2017-02-28   -0.007701
2017-03-31    0.113245
2017-04-30    0.128530
2017-05-31    0.085777
2017-06-30    0.060409
2017-07-31   -0.105473
2017-08-31    0.100257
2017-09-30   -0.041585
2017-10-31   -0.028056
2017-11-30   -0.068410
2017-12-31    0.008095
Freq: M, Name: Close, dtype: float64

**DataFrame**

The **DataFrame** is the most commonly used data structure in Pandas. It is essentially a table, just like an Excel spreadsheet.

More precisely, a DataFrame is a collection of Series objects, each of which may contain different data types. A DataFrame can be created from various data types: dictionary, 2-D numpy.ndarray, a Series or another DataFrame.
 
**Create DataFrames**

The most common method of creating a DataFrame is passing a dictionary:

In [77]:
import pandas as pd

dict = {'AAPL': [143.5, 144.09, 142.73, 144.18, 143.77],'GOOG':[898.7, 911.71, 906.69, 918.59, 926.99],
        'IBM':[155.58, 153.67, 152.36, 152.94, 153.49]}
data_index = pd.date_range('2017-07-03',periods = 5, freq = 'D')
df = pd.DataFrame(dict, index = data_index)
print(df)

              AAPL    GOOG     IBM
2017-07-03  143.50  898.70  155.58
2017-07-04  144.09  911.71  153.67
2017-07-05  142.73  906.69  152.36
2017-07-06  144.18  918.59  152.94
2017-07-07  143.77  926.99  153.49

In [78]:
dict1 = {'TSLA': [143.5, 144.09, 142.73, 144.18, 143.77],'MSFT':[898.7, 911.71, 906.69, 918.59, 926.99],
        'AMZN':[155.58, 153.67, 152.36, 152.94, 153.49]}
data_index1 = pd.date_range('2017-07-03',periods = 5, freq = 'D')
df1 = pd.DataFrame(dict1, index = data_index)
print(df1)

              TSLA    MSFT    AMZN
2017-07-03  143.50  898.70  155.58
2017-07-04  144.09  911.71  153.67
2017-07-05  142.73  906.69  152.36
2017-07-06  144.18  918.59  152.94
2017-07-07  143.77  926.99  153.49

**Manipulating DataFrames**

We can fetch values in a DataFrame by columns and index. Each column in a DataFrame is essentially a Pandas Series. We can fetch a column by square brackets: **df['column_name']**

If a column name contains no spaces, then we can also use df.column_name to fetch a column:

In [79]:
df = aapl_table
print(df.Close.tail(5))
print(df['Volume'].tail(5))

Date
2017-12-22    41.906776
2017-12-26    40.843601
2017-12-27    40.850788
2017-12-28    40.965725
2017-12-29    40.522724
Name: Close, dtype: float64
Date
2017-12-22     65397600
2017-12-26    132742000
2017-12-27     85992800
2017-12-28     65920800
2017-12-29    103999600
Name: Volume, dtype: int64

In [80]:
df1 = tsla_table
print(df1.Close.tail(5))
print(df1['Volume'].tail(5))

Date
2017-12-22    65.040001
2017-12-26    63.458000
2017-12-27    62.327999
2017-12-28    63.071999
2017-12-29    62.270000
Name: Close, dtype: float64
Date
2017-12-22    21079000
2017-12-26    21892000
2017-12-27    23560500
2017-12-28    21581500
2017-12-29    18886000
Name: Volume, dtype: int64

All the methods we applied to a Series index such as iloc[], loc[] and resampling methods, can also be applied to a DataFrame:

In [81]:
aapl_2016 = df['2016']
aapl_month = aapl_2016.resample('M').agg(lambda x: x[-1])
print(aapl_month)

                 Open       High        Low  ...     Volume  Dividends  Stock Splits
Date                                         ...
2016-01-31  21.852382  22.440245  21.750946  ...  257666000        0.0             0
2016-02-29  22.450755  22.768302  22.402081  ...  140865200        0.0             0
2016-03-31  25.431522  25.473243  25.236821  ...  103553600        0.0             0
2016-04-30  21.785531  21.954736  21.442489  ...  274126000        0.0             0
2016-05-31  23.226409  23.412967  23.044516  ...  169228800        0.0             0
2016-06-30  22.023110  22.333260  21.990462  ...  143345600        0.0             0
2016-07-31  24.296780  24.380731  24.177849  ...  110934800        0.0             0
2016-08-31  24.773059  24.986417  24.768369  ...  118649600        0.0             0
2016-09-30  26.367388  26.580747  26.212645  ...  145516400        0.0             0
2016-10-31  26.646398  26.782385  26.540890  ...  105677600        0.0             0
2016-11-30  26.300092  26.441490  25.986658  ...  144649200        0.0             0
2016-12-31  27.490191  27.619805  27.202681  ...  122345200        0.0             0

[12 rows x 7 columns]

In [82]:
tsla_2016 = df1['2016']
tsla_month = tsla_2016.resample('M').agg(lambda x: x[-1])
print(tsla_month)

                 Open       High        Low  ...    Volume  Dividends  Stock Splits
Date                                         ...
2016-01-31  37.990002  38.748001  37.616001  ...  14261500          0             0
2016-02-29  38.480000  39.270000  37.844002  ...  22495000          0             0
2016-03-31  45.868000  47.484001  45.001999  ...  40064500          0             0
2016-04-30  49.627998  49.686001  47.562000  ...  27069000          0             0
2016-05-31  44.608002  44.950001  44.299999  ...  13945000          0             0
2016-06-30  42.594002  42.700001  41.804001  ...  24215500          0             0
2016-07-31  46.139999  47.056000  46.048000  ...  15354000          0             0
2016-08-31  42.085999  42.520000  41.730000  ...  16382500          0             0
2016-09-30  40.442001  40.995998  39.910000  ...  12931500          0             0
2016-10-31  40.498001  40.498001  39.161999  ...  23461500          0             0
2016-11-30  38.200001  38.377998  37.500000  ...  17735500          0             0
2016-12-31  43.259998  43.500000  42.335999  ...  23213000          0             0

[12 rows x 7 columns]

We may select certain columns of a DataFrame using their names:

In [83]:
aapl_bar = aapl_month[['Open', 'High', 'Low', 'Close']]
print(aapl_bar)

                 Open       High        Low      Close
Date
2016-01-31  21.852382  22.440245  21.750946  22.440245
2016-02-29  22.450755  22.768302  22.402081  22.411352
2016-03-31  25.431522  25.473243  25.236821  25.262318
2016-04-30  21.785531  21.954736  21.442489  21.727585
2016-05-31  23.226409  23.412967  23.044516  23.287041
2016-06-30  22.023110  22.333260  21.990462  22.293617
2016-07-31  24.296780  24.380731  24.177849  24.301443
2016-08-31  24.773059  24.986417  24.768369  24.876221
2016-09-30  26.367388  26.580747  26.212645  26.505720
2016-10-31  26.646398  26.782385  26.540890  26.620607
2016-11-30  26.300092  26.441490  25.986658  26.045574
2016-12-31  27.490191  27.619805  27.202681  27.294590

In [84]:
tsla_bar = tsla_month[['Open', 'High', 'Low', 'Close']]
print(tsla_bar)

                 Open       High        Low      Close
Date
2016-01-31  37.990002  38.748001  37.616001  38.240002
2016-02-29  38.480000  39.270000  37.844002  38.386002
2016-03-31  45.868000  47.484001  45.001999  45.953999
2016-04-30  49.627998  49.686001  47.562000  48.152000
2016-05-31  44.608002  44.950001  44.299999  44.646000
2016-06-30  42.594002  42.700001  41.804001  42.456001
2016-07-31  46.139999  47.056000  46.048000  46.958000
2016-08-31  42.085999  42.520000  41.730000  42.402000
2016-09-30  40.442001  40.995998  39.910000  40.806000
2016-10-31  40.498001  40.498001  39.161999  39.546001
2016-11-30  38.200001  38.377998  37.500000  37.880001
2016-12-31  43.259998  43.500000  42.335999  42.737999

We can even specify both rows and columns using loc[]. The row indices and column names are separated by a comma:

In [85]:
print(aapl_month.loc['2016-03':'2016-06',['Open', 'High', 'Low', 'Close']])

                 Open       High        Low      Close
Date
2016-03-31  25.431522  25.473243  25.236821  25.262318
2016-04-30  21.785531  21.954736  21.442489  21.727585
2016-05-31  23.226409  23.412967  23.044516  23.287041
2016-06-30  22.023110  22.333260  21.990462  22.293617

In [86]:
print(tsla_month.loc['2016-03':'2016-06',['Open', 'High', 'Low', 'Close']])

                 Open       High        Low      Close
Date
2016-03-31  45.868000  47.484001  45.001999  45.953999
2016-04-30  49.627998  49.686001  47.562000  48.152000
2016-05-31  44.608002  44.950001  44.299999  44.646000
2016-06-30  42.594002  42.700001  41.804001  42.456001

The subset methods in DataFrame is quite useful. By writing logical statements in square brackets, we can make customized subsets:

In [87]:
import numpy as np

above = aapl_bar[aapl_bar.Close > np.mean(aapl_bar.Close)]
print(above)

                 Open       High        Low      Close
Date
2016-03-31  25.431522  25.473243  25.236821  25.262318
2016-08-31  24.773059  24.986417  24.768369  24.876221
2016-09-30  26.367388  26.580747  26.212645  26.505720
2016-10-31  26.646398  26.782385  26.540890  26.620607
2016-11-30  26.300092  26.441490  25.986658  26.045574
2016-12-31  27.490191  27.619805  27.202681  27.294590

In [88]:
above1 = tsla_bar[tsla_bar.Close > np.mean(tsla_bar.Close)]
print(above1)

                 Open       High        Low      Close
Date
2016-03-31  45.868000  47.484001  45.001999  45.953999
2016-04-30  49.627998  49.686001  47.562000  48.152000
2016-05-31  44.608002  44.950001  44.299999  44.646000
2016-06-30  42.594002  42.700001  41.804001  42.456001
2016-07-31  46.139999  47.056000  46.048000  46.958000
2016-08-31  42.085999  42.520000  41.730000  42.402000
2016-12-31  43.259998  43.500000  42.335999  42.737999

**Data Validation**

As mentioned, all methods that apply to a Series can also be applied to a DataFrame. Here we add a new column to an existing DataFrame:

In [89]:
aapl_bar['rate_return'] = aapl_bar.Close.pct_change()
print(aapl_bar)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852382  22.440245  21.750946  22.440245          NaN
2016-02-29  22.450755  22.768302  22.402081  22.411352    -0.001288
2016-03-31  25.431522  25.473243  25.236821  25.262318     0.127211
2016-04-30  21.785531  21.954736  21.442489  21.727585    -0.139921
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773
2016-06-30  22.023110  22.333260  21.990462  22.293617    -0.042660
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063
2016-08-31  24.773059  24.986417  24.768369  24.876221     0.023652
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065504
2016-10-31  26.646398  26.782385  26.540890  26.620607     0.004334
2016-11-30  26.300092  26.441490  25.986658  26.045574    -0.021601
2016-12-31  27.490191  27.619805  27.202681  27.294590     0.047955

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [90]:
tsla_bar['rate_return'] = tsla_bar.Close.pct_change()
print(tsla_bar)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  37.990002  38.748001  37.616001  38.240002          NaN
2016-02-29  38.480000  39.270000  37.844002  38.386002     0.003818
2016-03-31  45.868000  47.484001  45.001999  45.953999     0.197155
2016-04-30  49.627998  49.686001  47.562000  48.152000     0.047830
2016-05-31  44.608002  44.950001  44.299999  44.646000    -0.072811
2016-06-30  42.594002  42.700001  41.804001  42.456001    -0.049053
2016-07-31  46.139999  47.056000  46.048000  46.958000     0.106039
2016-08-31  42.085999  42.520000  41.730000  42.402000    -0.097023
2016-09-30  40.442001  40.995998  39.910000  40.806000    -0.037640
2016-10-31  40.498001  40.498001  39.161999  39.546001    -0.030878
2016-11-30  38.200001  38.377998  37.500000  37.880001    -0.042128
2016-12-31  43.259998  43.500000  42.335999  42.737999     0.128247

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

Here the calculation introduced a NaN value. If the DataFrame is large, we would not be able to observe it. **isnull()** provides a convenient way to check abnormal values.

In [91]:
missing = aapl_bar.isnull()
print(missing)
print('---------------------------------------------')
print(missing.describe())

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True
2016-02-29  False  False  False  False        False
2016-03-31  False  False  False  False        False
2016-04-30  False  False  False  False        False
2016-05-31  False  False  False  False        False
2016-06-30  False  False  False  False        False
2016-07-31  False  False  False  False        False
2016-08-31  False  False  False  False        False
2016-09-30  False  False  False  False        False
2016-10-31  False  False  False  False        False
2016-11-30  False  False  False  False        False
2016-12-31  False  False  False  False        False
---------------------------------------------
         Open   High    Low  Close rate_return
count      12     12     12     12          12
unique      1      1      1      1           2
top     False  False  False  False       False
freq       12     12     12     12          11

In [92]:
missing1 = tsla_bar.isnull()
print(missing1)
print('---------------------------------------------')
print(missing1.describe())

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True
2016-02-29  False  False  False  False        False
2016-03-31  False  False  False  False        False
2016-04-30  False  False  False  False        False
2016-05-31  False  False  False  False        False
2016-06-30  False  False  False  False        False
2016-07-31  False  False  False  False        False
2016-08-31  False  False  False  False        False
2016-09-30  False  False  False  False        False
2016-10-31  False  False  False  False        False
2016-11-30  False  False  False  False        False
2016-12-31  False  False  False  False        False
---------------------------------------------
         Open   High    Low  Close rate_return
count      12     12     12     12          12
unique      1      1      1      1           2
top     False  False  False  False       False
freq       12     12     12     12          11

The row labelled "unique" indicates the number of unique values in each column. Since the "rate_return" column has 2 unique values, it has at least one missing value.

We can deduce the number of missing values by comparing "count" with "freq". There are 12 counts and 11 False values, so there is one True value which corresponds to the missing value.

We can also find the rows with missing values easily:

In [93]:
print(missing[missing.rate_return == True])

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True

In [94]:
print(missing1[missing1.rate_return == True])

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True

Usually when dealing with missing data, we either delete the whole row or fill it with some value. As we introduced in the Series chapter, the same method **dropna()** and **fillna()** can be applied to a DataFrame.

In [95]:
drop = aapl_bar.dropna()
print(drop)
print('\n--------------------------------------------------\n')
fill = aapl_bar.fillna(0)
print(fill)

                 Open       High        Low      Close  rate_return
Date
2016-02-29  22.450755  22.768302  22.402081  22.411352    -0.001288
2016-03-31  25.431522  25.473243  25.236821  25.262318     0.127211
2016-04-30  21.785531  21.954736  21.442489  21.727585    -0.139921
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773
2016-06-30  22.023110  22.333260  21.990462  22.293617    -0.042660
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063
2016-08-31  24.773059  24.986417  24.768369  24.876221     0.023652
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065504
2016-10-31  26.646398  26.782385  26.540890  26.620607     0.004334
2016-11-30  26.300092  26.441490  25.986658  26.045574    -0.021601
2016-12-31  27.490191  27.619805  27.202681  27.294590     0.047955

--------------------------------------------------

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852382  22.440245  21.750946  22.440245     0.000000
2016-02-29  22.450755  22.768302  22.402081  22.411352    -0.001288
2016-03-31  25.431522  25.473243  25.236821  25.262318     0.127211
2016-04-30  21.785531  21.954736  21.442489  21.727585    -0.139921
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773
2016-06-30  22.023110  22.333260  21.990462  22.293617    -0.042660
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063
2016-08-31  24.773059  24.986417  24.768369  24.876221     0.023652
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065504
2016-10-31  26.646398  26.782385  26.540890  26.620607     0.004334
2016-11-30  26.300092  26.441490  25.986658  26.045574    -0.021601
2016-12-31  27.490191  27.619805  27.202681  27.294590     0.047955

In [96]:
drop1 = tsla_bar.dropna()
print(drop1)
print('\n--------------------------------------------------\n')
fill1 = tsla_bar.fillna(0)
print(fill1)

                 Open       High        Low      Close  rate_return
Date
2016-02-29  38.480000  39.270000  37.844002  38.386002     0.003818
2016-03-31  45.868000  47.484001  45.001999  45.953999     0.197155
2016-04-30  49.627998  49.686001  47.562000  48.152000     0.047830
2016-05-31  44.608002  44.950001  44.299999  44.646000    -0.072811
2016-06-30  42.594002  42.700001  41.804001  42.456001    -0.049053
2016-07-31  46.139999  47.056000  46.048000  46.958000     0.106039
2016-08-31  42.085999  42.520000  41.730000  42.402000    -0.097023
2016-09-30  40.442001  40.995998  39.910000  40.806000    -0.037640
2016-10-31  40.498001  40.498001  39.161999  39.546001    -0.030878
2016-11-30  38.200001  38.377998  37.500000  37.880001    -0.042128
2016-12-31  43.259998  43.500000  42.335999  42.737999     0.128247

--------------------------------------------------

                 Open       High        Low      Close  rate_return
Date
2016-01-31  37.990002  38.748001  37.616001  38.240002     0.000000
2016-02-29  38.480000  39.270000  37.844002  38.386002     0.003818
2016-03-31  45.868000  47.484001  45.001999  45.953999     0.197155
2016-04-30  49.627998  49.686001  47.562000  48.152000     0.047830
2016-05-31  44.608002  44.950001  44.299999  44.646000    -0.072811
2016-06-30  42.594002  42.700001  41.804001  42.456001    -0.049053
2016-07-31  46.139999  47.056000  46.048000  46.958000     0.106039
2016-08-31  42.085999  42.520000  41.730000  42.402000    -0.097023
2016-09-30  40.442001  40.995998  39.910000  40.806000    -0.037640
2016-10-31  40.498001  40.498001  39.161999  39.546001    -0.030878
2016-11-30  38.200001  38.377998  37.500000  37.880001    -0.042128
2016-12-31  43.259998  43.500000  42.335999  42.737999     0.128247

**DataFrame Concat**

We have seen how to extract a Series from a dataFrame. Now we need to consider how to merge a Series or a DataFrame into another one.

In Pandas, the function **concat()** allows us to merge multiple Series into a DataFrame:

In [97]:
s1 = pd.Series([143.5, 144.09, 142.73, 144.18, 143.77], name = 'AAPL')
s2 = pd.Series([898.7, 911.71, 906.69, 918.59, 926.99], name = 'GOOG')
data_frame = pd.concat([s1,s2], axis = 1)
print(data_frame)

     AAPL    GOOG
0  143.50  898.70
1  144.09  911.71
2  142.73  906.69
3  144.18  918.59
4  143.77  926.99

In [98]:
s1x = pd.Series([143.5, 144.09, 142.73, 144.18, 143.77], name = 'TSLA')
s2y = pd.Series([898.7, 911.71, 906.69, 918.59, 926.99], name = 'MSFT')
data_framex = pd.concat([s1x,s2y], axis = 1)
print(data_framex)

     TSLA    MSFT
0  143.50  898.70
1  144.09  911.71
2  142.73  906.69
3  144.18  918.59
4  143.77  926.99

The "axis = 1" parameter will join two DataFrames by columns:

In [99]:
log_price = np.log(aapl_bar.Close)
log_price.name = 'log_price'
print(log_price)
print('\n---------------------- separate line--------------------\n')
concat = pd.concat([aapl_bar, log_price], axis = 1)
print(concat)

Date
2016-01-31    3.110856
2016-02-29    3.109568
2016-03-31    3.229314
2016-04-30    3.078583
2016-05-31    3.147897
2016-06-30    3.104300
2016-07-31    3.190536
2016-08-31    3.213912
2016-09-30    3.277361
2016-10-31    3.281686
2016-11-30    3.259848
2016-12-31    3.306689
Freq: M, Name: log_price, dtype: float64

---------------------- separate line--------------------

                 Open       High        Low      Close  rate_return  log_price
Date
2016-01-31  21.852382  22.440245  21.750946  22.440245          NaN   3.110856
2016-02-29  22.450755  22.768302  22.402081  22.411352    -0.001288   3.109568
2016-03-31  25.431522  25.473243  25.236821  25.262318     0.127211   3.229314
2016-04-30  21.785531  21.954736  21.442489  21.727585    -0.139921   3.078583
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773   3.147897
2016-06-30  22.023110  22.333260  21.990462  22.293617    -0.042660   3.104300
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063   3.190536
2016-08-31  24.773059  24.986417  24.768369  24.876221     0.023652   3.213912
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065504   3.277361
2016-10-31  26.646398  26.782385  26.540890  26.620607     0.004334   3.281686
2016-11-30  26.300092  26.441490  25.986658  26.045574    -0.021601   3.259848
2016-12-31  27.490191  27.619805  27.202681  27.294590     0.047955   3.306689

In [100]:
log_pricex = np.log(tsla_bar.Close)
log_price.namex = 'log_pricex'
print(log_pricex)
print('\n---------------------- separate line--------------------\n')
concatx = pd.concat([tsla_bar, log_pricex], axis = 1)
print(concatx)

Date
2016-01-31    3.643882
2016-02-29    3.647693
2016-03-31    3.827641
2016-04-30    3.874363
2016-05-31    3.798765
2016-06-30    3.748468
2016-07-31    3.849254
2016-08-31    3.747196
2016-09-30    3.708829
2016-10-31    3.677465
2016-11-30    3.634423
2016-12-31    3.755088
Freq: M, Name: Close, dtype: float64

---------------------- separate line--------------------

                 Open       High        Low      Close  rate_return     Close
Date
2016-01-31  37.990002  38.748001  37.616001  38.240002          NaN  3.643882
2016-02-29  38.480000  39.270000  37.844002  38.386002     0.003818  3.647693
2016-03-31  45.868000  47.484001  45.001999  45.953999     0.197155  3.827641
2016-04-30  49.627998  49.686001  47.562000  48.152000     0.047830  3.874363
2016-05-31  44.608002  44.950001  44.299999  44.646000    -0.072811  3.798765
2016-06-30  42.594002  42.700001  41.804001  42.456001    -0.049053  3.748468
2016-07-31  46.139999  47.056000  46.048000  46.958000     0.106039  3.849254
2016-08-31  42.085999  42.520000  41.730000  42.402000    -0.097023  3.747196
2016-09-30  40.442001  40.995998  39.910000  40.806000    -0.037640  3.708829
2016-10-31  40.498001  40.498001  39.161999  39.546001    -0.030878  3.677465
2016-11-30  38.200001  38.377998  37.500000  37.880001    -0.042128  3.634423
2016-12-31  43.259998  43.500000  42.335999  42.737999     0.128247  3.755088

We can also join two DataFrames by rows. Consider these two DataFrames:

In [101]:
df_volume = aapl_table.loc['2016-10':'2017-04',['Volume', 'Stock Splits']].resample('M').agg(lambda x: x[-1])
print(df_volume)
print('\n---------------------- separate line--------------------\n')
df_2017 = aapl_table.loc['2016-10':'2017-04',['Open', 'High', 'Low', 'Close']].resample('M').agg(lambda x: x[-1])
print(df_2017)

               Volume  Stock Splits
Date
2016-10-31  105677600             0
2016-11-30  144649200             0
2016-12-31  122345200             0
2017-01-31  196804000             0
2017-02-28   93931600             0
2017-03-31   78646800             0
2017-04-30   83441600             0

---------------------- separate line--------------------

                 Open       High        Low      Close
Date
2016-10-31  26.646398  26.782385  26.540890  26.620607
2016-11-30  26.300092  26.441490  25.986658  26.045574
2016-12-31  27.490191  27.619805  27.202681  27.294590
2017-01-31  28.550677  28.607236  28.425775  28.597809
2017-02-28  32.444873  32.530080  32.354932  32.423573
2017-03-31  34.016459  34.146637  33.848410  34.002258
2017-04-30  34.104039  34.153745  33.909959  33.999897

In [102]:
df1_volume = tsla_table.loc['2016-10':'2017-04',['Volume', 'Stock Splits']].resample('M').agg(lambda x: x[-1])
print(df1_volume)
print('\n---------------------- separate line--------------------\n')
df1_2017 = tsla_table.loc['2016-10':'2017-04',['Open', 'High', 'Low', 'Close']].resample('M').agg(lambda x: x[-1])
print(df1_2017)

              Volume  Stock Splits
Date
2016-10-31  23461500             0
2016-11-30  17735500             0
2016-12-31  23213000             0
2017-01-31  20580500             0
2017-02-28  30390500             0
2017-03-31  16473000             0
2017-04-30  22527500             0

---------------------- separate line--------------------

                 Open       High        Low      Close
Date
2016-10-31  40.498001  40.498001  39.161999  39.546001
2016-11-30  38.200001  38.377998  37.500000  37.880001
2016-12-31  43.259998  43.500000  42.335999  42.737999
2017-01-31  49.848000  51.178001  49.540001  50.386002
2017-02-28  48.838001  50.200001  48.779999  49.998001
2017-03-31  55.745998  55.936001  55.264000  55.660000
2017-04-30  61.966000  62.959999  61.599998  62.813999

Now we merge the DataFrames with our DataFrame 'aapl_bar'

In [103]:
concat = pd.concat([aapl_bar, df_volume], axis = 1)
print(concat)

                 Open       High  ...       Volume  Stock Splits
Date                              ...
2016-01-31  21.852382  22.440245  ...          NaN           NaN
2016-02-29  22.450755  22.768302  ...          NaN           NaN
2016-03-31  25.431522  25.473243  ...          NaN           NaN
2016-04-30  21.785531  21.954736  ...          NaN           NaN
2016-05-31  23.226409  23.412967  ...          NaN           NaN
2016-06-30  22.023110  22.333260  ...          NaN           NaN
2016-07-31  24.296780  24.380731  ...          NaN           NaN
2016-08-31  24.773059  24.986417  ...          NaN           NaN
2016-09-30  26.367388  26.580747  ...          NaN           NaN
2016-10-31  26.646398  26.782385  ...  105677600.0           0.0
2016-11-30  26.300092  26.441490  ...  144649200.0           0.0
2016-12-31  27.490191  27.619805  ...  122345200.0           0.0
2017-01-31        NaN        NaN  ...  196804000.0           0.0
2017-02-28        NaN        NaN  ...   93931600.0           0.0
2017-03-31        NaN        NaN  ...   78646800.0           0.0
2017-04-30        NaN        NaN  ...   83441600.0           0.0

[16 rows x 7 columns]

In [104]:
concatx = pd.concat([tsla_bar, df1_volume], axis = 1)
print(concatx)

                 Open       High  ...      Volume  Stock Splits
Date                              ...
2016-01-31  37.990002  38.748001  ...         NaN           NaN
2016-02-29  38.480000  39.270000  ...         NaN           NaN
2016-03-31  45.868000  47.484001  ...         NaN           NaN
2016-04-30  49.627998  49.686001  ...         NaN           NaN
2016-05-31  44.608002  44.950001  ...         NaN           NaN
2016-06-30  42.594002  42.700001  ...         NaN           NaN
2016-07-31  46.139999  47.056000  ...         NaN           NaN
2016-08-31  42.085999  42.520000  ...         NaN           NaN
2016-09-30  40.442001  40.995998  ...         NaN           NaN
2016-10-31  40.498001  40.498001  ...  23461500.0           0.0
2016-11-30  38.200001  38.377998  ...  17735500.0           0.0
2016-12-31  43.259998  43.500000  ...  23213000.0           0.0
2017-01-31        NaN        NaN  ...  20580500.0           0.0
2017-02-28        NaN        NaN  ...  30390500.0           0.0
2017-03-31        NaN        NaN  ...  16473000.0           0.0
2017-04-30        NaN        NaN  ...  22527500.0           0.0

[16 rows x 7 columns]

By default the DataFrame are joined with all of the data. This default options results in zero information loss. We can also merge them by intersection, this is called 'inner join

In [105]:
concat = pd.concat([aapl_bar,df_volume],axis = 1, join = 'inner')
print(concat)

                 Open       High  ...     Volume  Stock Splits
Date                              ...
2016-10-31  26.646398  26.782385  ...  105677600             0
2016-11-30  26.300092  26.441490  ...  144649200             0
2016-12-31  27.490191  27.619805  ...  122345200             0

[3 rows x 7 columns]

In [106]:
concatx = pd.concat([tsla_bar,df1_volume],axis = 1, join = 'inner')
print(concatx)

                 Open       High  ...    Volume  Stock Splits
Date                              ...
2016-10-31  40.498001  40.498001  ...  23461500             0
2016-11-30  38.200001  38.377998  ...  17735500             0
2016-12-31  43.259998  43.500000  ...  23213000             0

[3 rows x 7 columns]

Only the intersection part was left if use 'inner join' method. Now let's try to append a DataFrame to another one:

In [107]:
append = aapl_bar.append(df_2017)
print(append)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852382  22.440245  21.750946  22.440245          NaN
2016-02-29  22.450755  22.768302  22.402081  22.411352    -0.001288
2016-03-31  25.431522  25.473243  25.236821  25.262318     0.127211
2016-04-30  21.785531  21.954736  21.442489  21.727585    -0.139921
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773
2016-06-30  22.023110  22.333260  21.990462  22.293617    -0.042660
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063
2016-08-31  24.773059  24.986417  24.768369  24.876221     0.023652
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065504
2016-10-31  26.646398  26.782385  26.540890  26.620607     0.004334
2016-11-30  26.300092  26.441490  25.986658  26.045574    -0.021601
2016-12-31  27.490191  27.619805  27.202681  27.294590     0.047955
2016-10-31  26.646398  26.782385  26.540890  26.620607          NaN
2016-11-30  26.300092  26.441490  25.986658  26.045574          NaN
2016-12-31  27.490191  27.619805  27.202681  27.294590          NaN
2017-01-31  28.550677  28.607236  28.425775  28.597809          NaN
2017-02-28  32.444873  32.530080  32.354932  32.423573          NaN
2017-03-31  34.016459  34.146637  33.848410  34.002258          NaN
2017-04-30  34.104039  34.153745  33.909959  33.999897          NaN

In [108]:
appendx = tsla_bar.append(df1_2017)
print(appendx)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  37.990002  38.748001  37.616001  38.240002          NaN
2016-02-29  38.480000  39.270000  37.844002  38.386002     0.003818
2016-03-31  45.868000  47.484001  45.001999  45.953999     0.197155
2016-04-30  49.627998  49.686001  47.562000  48.152000     0.047830
2016-05-31  44.608002  44.950001  44.299999  44.646000    -0.072811
2016-06-30  42.594002  42.700001  41.804001  42.456001    -0.049053
2016-07-31  46.139999  47.056000  46.048000  46.958000     0.106039
2016-08-31  42.085999  42.520000  41.730000  42.402000    -0.097023
2016-09-30  40.442001  40.995998  39.910000  40.806000    -0.037640
2016-10-31  40.498001  40.498001  39.161999  39.546001    -0.030878
2016-11-30  38.200001  38.377998  37.500000  37.880001    -0.042128
2016-12-31  43.259998  43.500000  42.335999  42.737999     0.128247
2016-10-31  40.498001  40.498001  39.161999  39.546001          NaN
2016-11-30  38.200001  38.377998  37.500000  37.880001          NaN
2016-12-31  43.259998  43.500000  42.335999  42.737999          NaN
2017-01-31  49.848000  51.178001  49.540001  50.386002          NaN
2017-02-28  48.838001  50.200001  48.779999  49.998001          NaN
2017-03-31  55.745998  55.936001  55.264000  55.660000          NaN
2017-04-30  61.966000  62.959999  61.599998  62.813999          NaN

'Append' is essentially to concat two DataFrames by axis = 0, thus here is an alternative way to append:

In [109]:
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852382  22.440245  21.750946  22.440245          NaN
2016-02-29  22.450755  22.768302  22.402081  22.411352    -0.001288
2016-03-31  25.431522  25.473243  25.236821  25.262318     0.127211
2016-04-30  21.785531  21.954736  21.442489  21.727585    -0.139921
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773
2016-06-30  22.023110  22.333260  21.990462  22.293617    -0.042660
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063
2016-08-31  24.773059  24.986417  24.768369  24.876221     0.023652
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065504
2016-10-31  26.646398  26.782385  26.540890  26.620607     0.004334
2016-11-30  26.300092  26.441490  25.986658  26.045574    -0.021601
2016-12-31  27.490191  27.619805  27.202681  27.294590     0.047955
2016-10-31  26.646398  26.782385  26.540890  26.620607          NaN
2016-11-30  26.300092  26.441490  25.986658  26.045574          NaN
2016-12-31  27.490191  27.619805  27.202681  27.294590          NaN
2017-01-31  28.550677  28.607236  28.425775  28.597809          NaN
2017-02-28  32.444873  32.530080  32.354932  32.423573          NaN
2017-03-31  34.016459  34.146637  33.848410  34.002258          NaN
2017-04-30  34.104039  34.153745  33.909959  33.999897          NaN

In [110]:
concatx = pd.concat([tsla_bar, df1_2017], axis = 0)
print(concatx)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  37.990002  38.748001  37.616001  38.240002          NaN
2016-02-29  38.480000  39.270000  37.844002  38.386002     0.003818
2016-03-31  45.868000  47.484001  45.001999  45.953999     0.197155
2016-04-30  49.627998  49.686001  47.562000  48.152000     0.047830
2016-05-31  44.608002  44.950001  44.299999  44.646000    -0.072811
2016-06-30  42.594002  42.700001  41.804001  42.456001    -0.049053
2016-07-31  46.139999  47.056000  46.048000  46.958000     0.106039
2016-08-31  42.085999  42.520000  41.730000  42.402000    -0.097023
2016-09-30  40.442001  40.995998  39.910000  40.806000    -0.037640
2016-10-31  40.498001  40.498001  39.161999  39.546001    -0.030878
2016-11-30  38.200001  38.377998  37.500000  37.880001    -0.042128
2016-12-31  43.259998  43.500000  42.335999  42.737999     0.128247
2016-10-31  40.498001  40.498001  39.161999  39.546001          NaN
2016-11-30  38.200001  38.377998  37.500000  37.880001          NaN
2016-12-31  43.259998  43.500000  42.335999  42.737999          NaN
2017-01-31  49.848000  51.178001  49.540001  50.386002          NaN
2017-02-28  48.838001  50.200001  48.779999  49.998001          NaN
2017-03-31  55.745998  55.936001  55.264000  55.660000          NaN
2017-04-30  61.966000  62.959999  61.599998  62.813999          NaN

Please note that if the two DataFrame have some columns with the same column names, these columns are considered to be the same and will be merged. It's very important to have the right column names. If we change a column names here:

In [111]:
df_2017.columns = ['Change', 'High','Low','Close']
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

                 Open       High        Low      Close  rate_return     Change
Date
2016-01-31  21.852382  22.440245  21.750946  22.440245          NaN        NaN
2016-02-29  22.450755  22.768302  22.402081  22.411352    -0.001288        NaN
2016-03-31  25.431522  25.473243  25.236821  25.262318     0.127211        NaN
2016-04-30  21.785531  21.954736  21.442489  21.727585    -0.139921        NaN
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773        NaN
2016-06-30  22.023110  22.333260  21.990462  22.293617    -0.042660        NaN
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063        NaN
2016-08-31  24.773059  24.986417  24.768369  24.876221     0.023652        NaN
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065504        NaN
2016-10-31  26.646398  26.782385  26.540890  26.620607     0.004334        NaN
2016-11-30  26.300092  26.441490  25.986658  26.045574    -0.021601        NaN
2016-12-31  27.490191  27.619805  27.202681  27.294590     0.047955        NaN
2016-10-31        NaN  26.782385  26.540890  26.620607          NaN  26.646398
2016-11-30        NaN  26.441490  25.986658  26.045574          NaN  26.300092
2016-12-31        NaN  27.619805  27.202681  27.294590          NaN  27.490191
2017-01-31        NaN  28.607236  28.425775  28.597809          NaN  28.550677
2017-02-28        NaN  32.530080  32.354932  32.423573          NaN  32.444873
2017-03-31        NaN  34.146637  33.848410  34.002258          NaN  34.016459
2017-04-30        NaN  34.153745  33.909959  33.999897          NaN  34.104039

In [112]:
df1_2017.columns = ['Change', 'High','Low','Close']
concatx = pd.concat([tsla_bar, df1_2017], axis = 0)
print(concatx)

                 Open       High        Low      Close  rate_return     Change
Date
2016-01-31  37.990002  38.748001  37.616001  38.240002          NaN        NaN
2016-02-29  38.480000  39.270000  37.844002  38.386002     0.003818        NaN
2016-03-31  45.868000  47.484001  45.001999  45.953999     0.197155        NaN
2016-04-30  49.627998  49.686001  47.562000  48.152000     0.047830        NaN
2016-05-31  44.608002  44.950001  44.299999  44.646000    -0.072811        NaN
2016-06-30  42.594002  42.700001  41.804001  42.456001    -0.049053        NaN
2016-07-31  46.139999  47.056000  46.048000  46.958000     0.106039        NaN
2016-08-31  42.085999  42.520000  41.730000  42.402000    -0.097023        NaN
2016-09-30  40.442001  40.995998  39.910000  40.806000    -0.037640        NaN
2016-10-31  40.498001  40.498001  39.161999  39.546001    -0.030878        NaN
2016-11-30  38.200001  38.377998  37.500000  37.880001    -0.042128        NaN
2016-12-31  43.259998  43.500000  42.335999  42.737999     0.128247        NaN
2016-10-31        NaN  40.498001  39.161999  39.546001          NaN  40.498001
2016-11-30        NaN  38.377998  37.500000  37.880001          NaN  38.200001
2016-12-31        NaN  43.500000  42.335999  42.737999          NaN  43.259998
2017-01-31        NaN  51.178001  49.540001  50.386002          NaN  49.848000
2017-02-28        NaN  50.200001  48.779999  49.998001          NaN  48.838001
2017-03-31        NaN  55.936001  55.264000  55.660000          NaN  55.745998
2017-04-30        NaN  62.959999  61.599998  62.813999          NaN  61.966000

Since the column name of 'Open' has been changed, the new DataFrame has an new column named 'Change'.

**Summary**

Hereby we introduced the most import part of python: resampling and DataFrame manipulation. We only introduced the most commonly used method in Financial data analysis. There are also many methods used in data mining, which are also beneficial. You can always check the [Pandas](https://pandas.pydata.org/pandas-docs/stable/index.html) official documentations for help.